<template>
    <div class='FilmDetail' :key="componentKey">
        <div class="box-content">
            <b-container fluid>
                <div class="dt-banner" >
                    <b-row class="dt-banner--row">
                        <b-col cols="12" sm="12" md="12" lg="8" xl="8" class="dt-banner--col bg-color-2">
                            <b-aspect aspect="16/9" class="dt-player">
                                <!-- <VideoPlayer :options="videoOptions"/> -->
                                <iframe class="iframe-video" height="100%" width="100%"
                                :src="curentLinkPlay" controls="controls" autoplay="false" 
                                allow="encrypted-media" allowfullscreen="">
                                </iframe>
                            </b-aspect>
                            <div class="dt-banner--content" >
                                <div v-if="actors.length<1 && categories.length<1" class="dt-banner--loading">
                                    <b-skeleton animation="fade" width="200px"></b-skeleton>
                                    <b-skeleton-img animation="fade" class="loading-content"></b-skeleton-img>
                                </div>
                                <div v-else>
                                    <h1 class="dt-title font-medium color-yellow">{{filmDetailBySlug.name}}</h1>
                                    <h1 class="dt-name2 font-small color-white">{{filmDetailBySlug.name2}}</h1>
                                    <div class="dt-box">
                                        <div class="dt-box--1">
                                            <h1 class="dt-status font-small color-white txt-left">
                                                <b class="color-blue">Trạng thái:</b> 
                                                {{filmDetailBySlug.status}}
                                            </h1>
                                            <h1 class="dt-nation font-small color-white txt-left">
                                                <b class="color-blue">Quốc gia:</b> 
                                                {{getCurrentNation}}
                                            </h1>
                                        </div>
                                        <div>
                                            <h1 class="dt-year font-small color-white txt-left">
                                                <b class="color-blue">Năm:</b> 
                                                {{filmDetailBySlug.year}}
                                            </h1>
                                            <h1 class="dt-year font-small color-white txt-left">
                                                <b class="color-blue">Thời lượng:</b> 
                                                {{filmDetailBySlug.duration}} phút
                                            </h1>
                                        </div>
                                    </div>
                                    <h1 class="dt-year font-small color-blue txt-left bold">Thể Loại:</h1>
                                    <div class="dt-slide">
                                        <Flicking :options="{ panelsPerView: -1,bound: true,align:'prev'}">
                                            <div v-for="(item,index) in categories" :key="index" class="dt-slide--item bg-color-3">
                                                <router-link :to="'/archive?category='+item.id" class="link">
                                                    <h1 class="dt-slide--name font-small color-white">{{item.name}}</h1>
                                                </router-link>
                                            </div>
                                        </Flicking>
                                    </div>
                                    <h1 class="dt-year font-small color-blue txt-left bold">Diễn viên:</h1>
                                    <div class="dt-slide">
                                        <Flicking :options="{ panelsPerView: -1,bound: true,align:'prev'}">
                                            <div v-for="(item,index) in actors" :key="index" class="dt-slide--item">
                                                <router-link :to="'/archive?actor='+item.id" class="link">
                                                    <b-avatar variant="info" :src="generateUrl(item.avatar)"></b-avatar>
                                                    <h1 class="dt-slide--name font-small color-white">{{item.name}}</h1>
                                                </router-link>
                                            </div>
                                        </Flicking>
                                    </div>
                                    <h1 class="dt-year font-small color-blue txt-left bold">Tập phim:</h1>
                                    <div class="dt-slide">
                                        <Flicking :options="{ panelsPerView: -1,bound: true,align:'prev'}">
                                            <div v-for="(item,index) in listEpisode" :key="index" class="episode-item dt-slide--item bg-color-3" :class="{'episode-active':item.content===curentLinkPlay}">
                                                <h1 @click="handlePlayFilm(item.content)" class="dt-slide--name font-small color-white">{{item.episode_name}}</h1>
                                            </div>
                                        </Flicking>
                                    </div>
                                    <div class="dt-description">
                                        <h1 class="dt-description--title font-small color-blue bold">Nội dung phim:</h1>
                                        <p class="dt-description--content font-small color-white">{{filmDetailBySlug.description}}</p>
                                    </div>
                                </div>
                            </div>
                        </b-col>
                        <b-col cols="12" sm="12" md="12" lg="4" xl="4" class="dt-banner--col" >
                           <div>
                               <SideBarLeft :listFilm="filmCungTheLoai"/>
                           </div>
                        </b-col>
                    </b-row>
                </div>
            </b-container>
        </div>
    </div>
</template>

<script>
import VideoPlayer from '@/components/Film/VideoPlayer.vue'
import GlobalFunc from "@/mixin/globalFunc.js"
import SideBarLeft from "@/components/Film/SideBarRight.vue"
import { Flicking } from "@egjs/vue-flicking";
import { mapActions, mapGetters, mapMutations } from 'vuex'
import SideBar from '../Header/SideBar.vue';
import 'video.js/dist/video-js.css'
export default {
    name: 'FilmDetail',
    data(){
        return{
            componentKey:0,
            categories:[],
            actors:[],
            filmCungTheLoai:[],
            curentLinkPlay:"",
            videoOptions: {
                autoplay: true,
				controls: true,
                aspectRatio:"16:9",
				sources: [
					{
						// src:require("../../assets/abc.mp4"),
                        type: "video/mp4"
					}
				]
            }
        }
    },
    mixins:[GlobalFunc],
    watch:{
        async getUrlPath(newVal,oldVal){
            if(newVal!==oldVal){
                this.scrollToTop()
                await this.fetchData()
            }
        },
        async categories(newVal){
            await this.getFimCungTheLoai(newVal)
        },
    },
    components:{
        Flicking,
        SideBar,
        SideBarLeft,
        VideoPlayer
    },
    async created(){
        this.scrollToTop() 
        await this.fetchData()
        
    },
    computed:{
        getFilmName(){
            let filmName=this.$route.params.filmName
            if(filmName)
                return filmName
            return ""
        }, 
        getUrlPath(){
            return this.$route.path
        },
        getCurrentTypeMovie(){
            return this.typeMovieById.name
        },
        getCurrentNation(){
            return this.nationById.name
        },
        ...mapGetters(["filmDetailBySlug","typeMovieById","nationById",
        "filmCategory","filmActor","categoryById","actorById",
        "listEpisode","film","listFilmCategory","filmDetail","listFilmByCategory"])
    },
    methods:{
        async fetchData(){
            this.filmCungTheLoai=[]
            this.categories=[]
            this.actors=[]
            await this.getFilm()
            await this.getFilmBySlug(this.getFilmName)
            if(!this.filmDetailBySlug){
                this.$router.push("/404")
            }
            await this.getTypeMovieById(this.filmDetailBySlug.type_movie_id);
            await this.getNationById(this.filmDetailBySlug.nation_id);
            await this.getFilmCategoryByFilmId(this.filmDetailBySlug.id)
            await this.getFilmActorByFilmId(this.filmDetailBySlug.id)
            this.filmCategory.map(async (item)=>{
                await this.getCategoryById(item.category_id)
                this.categories.push(this.categoryById)
            })
            this.filmActor.map(async (item)=>{
                await this.getActorById(item.actor_id)
                this.actors.push(this.actorById)
            })
            await this.getEpisodeByFimlID(this.filmDetailBySlug.id)
            this.curentLinkPlay=this.listEpisode[0].content
        },
        async getFimCungTheLoai(categories){
            if(categories.length>0){
                await this.getFilmByCategoryId(categories[0].id)
                let list=[]
                this.listFilmByCategory.map((item)=>{
                    if(item.film_id!==this.filmDetailBySlug.id){
                         list=list.concat(
                            this.film.filter((item2)=>{
                                return item2.id===item.film_id
                            })
                        )
                    }
                })
                this.filmCungTheLoai=this.generateRandomFilm(list,5)   
            }
        },
        scrollToTop() {
            window.scrollTo(0,0);
        },
        handlePlayFilm(link){
            this.curentLinkPlay=link
            this.scrollToTop()
        },
        ...mapActions(["getFilmBySlug","getTypeMovieById","getNationById",
        "getFilmCategoryByFilmId","getFilmActorByFilmId","getCategoryById",
        "getActorById","getEpisodeByFimlID","getFilm","getFilmCategory","getFilmById","getFilmByCategoryId"]),
        ...mapMutations(["RESET_ALL_STATE"])
       
    }

}
</script>

<style scoped>
.dt-player{
    background: black;
}
.episode-item .dt-slide--name{
    cursor: pointer;
    padding: 5px 1rem !important;
}
.episode-item .dt-slide--name:hover{
    background: rgb(16, 189, 68);
}
.episode-active{
    background: rgb(16, 189, 68);
}
.dt-banner{
    margin-top:2rem;
    border-radius:10px;
    width: 100%;  
    display: flex;
    margin-bottom: 2rem;
}
.dt-banner--row{
    width: 100%;
    margin-left:0px !important;
    margin-right: -15px !important;
}
.dt-banner--content{
    width: 100%;
    padding:1rem;
    
}
.dt-banner--col{
    padding-left: 0px;
    padding-right: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.dt-description--title{
    text-align: left;
}
.dt-description--content{
    text-align: justify;
}
.dt-title{
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
}
.dt-name2{
    text-align: left;
}
.dt-slide{
    display: flex;
    /* flex-wrap: wrap; */
    margin-bottom:0.5rem;
}
.dt-slide--item{
    display: flex;
    margin-right:1rem;
    border-radius:5px;
    overflow: hidden;
}
.dt-slide--item a{
    padding:5px;
}
.dt-slide--name{
    margin:0px;
    width: fit-content;
}
.dt-box{
    display: flex;
    justify-content: start;
}
.dt-box--1{
    margin-right: 1rem;
}
.iframe-video{
    border:unset !important;
}
.dt-banner--loading .b-skeleton{
    background: #273142;
    margin-bottom:0.5rem;
    border-radius:10px;
}
.dt-banner--loading .b-skeleton-text{
    height: 30px !important;
}
.loading-content{
    padding-bottom:1rem;
}
@media only screen and (max-width: 992px) {
      .dt-title{
          text-align: center !important;
      }
       .dt-name2{
          text-align: center !important;
      }
}
@media only screen and (max-width: 576px){
    .dt-banner--content{
        padding:15px 7px 7px 7px !important;
    }
    .dt-box{
        display: block !important;
    }
}
</style>