<template>
    <div class='SideBarRight'>
        <div class="lsb-box bg-color-2">
            <b-container fluid>
                <div v-if="!loading" class="lsb-loading">
                    <!-- <b-skeleton animation="fade" width="200px" class="text-loading"></b-skeleton> -->
                    <div v-for="index in 3" :key="index" class="lbs-loading--box">
                        <b-row>
                            <b-col cols="6">
                                <b-skeleton-img animation="fade"></b-skeleton-img>
                            </b-col>
                            <b-col cols="6">
                                <b-skeleton animation="fade"></b-skeleton>
                                <b-skeleton animation="fade" width="50%"></b-skeleton>
                            </b-col>
                        </b-row>
                    </div>
                </div>
                <div v-else>
                    <h1 class="lsb-title font-medium color-white txt-left bold">Cùng thể loại</h1>
                    <b-row>
                        <b-col v-for="(item,index) in listFilmCurrent" :key="index" class="lsb-col" cols="12" sm="12" md="6" lg="12" xl="12">
                            <b-row class="lsb-row">
                                <b-col cols="5" class="lsb-box--left" >
                                    <router-link :to="'/watch/'+item.slug" class="link">
                                        <b-aspect aspect="20/28" :style="'background-image:url('+generateUrl(item.image)+')'" class="lsb-image">
                                        </b-aspect>
                                    </router-link>
                                </b-col>
                                <b-col cols="7" class="lsb-box--right">
                                    <div class="lbs-content full-width">
                                        <router-link :to="'/watch/'+item.slug" class="link">
                                            <h1 class="lsb-name font-small color-yellow txt-left bold">{{item.name}}</h1>
                                        </router-link>
                                        <h1 class="lsb-name2 font-small color-white txt-left">{{item.name2}}</h1>
                                        <h1 class="lsb-status font-small color-blue txt-left">{{item.status}}</h1>
                                    </div>
                                </b-col>
                            </b-row>
                        </b-col>
                    </b-row>
                </div>
            </b-container>
        </div>
    </div>
</template>

<script>
import GlobalFunc from "@/mixin/globalFunc.js"
import { mapActions, mapGetters } from 'vuex'
export default {
    name: 'SideBarRight',
    data(){
        return{
            listFilmCurrent:[],
            loading:false
        }
    },
    watch:{
        listFilm(newVal){
            if(newVal.length>=1){
                this.listFilmCurrent=this.listFilm  
                this.loading=true
            }
        },
        getUrl(newVal){
            if(newVal){
                this.loading=false
            }
        }
    },
    
    async created(){
        await this.getFilm()
        // this.listFilmCurrent=this.generateRandomFilm(this.film,5)
    },
    mixins:[GlobalFunc],
    props:{
       listFilm:{
           type:Array,
           default:()=>[]
        }
    },
    computed:{
        getUrl(){
            return this.$route.fullPath
        },
        ...mapGetters(["film"])
    },
    methods:{
       ...mapActions(["getFilm"])
    }
    

}
</script>

<style scoped>
.lsb-col{
    margin:0px 0px 15px 0px;
}
.lsb-col:last-child{
    margin:0px 0px 0px 0px;
}
.lsb-row{
    padding:0px 15px;
}
.lsb-box{
    border-radius: 10px;
    margin-left:1rem;
    padding: 15px 0px;
}
.lbs-content{
    height: 100%;
}
.lsb-box--right{
    padding: 0;
}
.lsb-box--left{
    padding: 0;
}
.lsb-image{
    background-size:cover;
    background-repeat:no-repeat;
    background-position: top;
    border-radius:10px;
    margin-right:15px ;
}
.lsb-loading .b-skeleton{
    background: #273142;
    margin-bottom:0.5rem;
    border-radius:10px;
}
.lsb-loading .b-skeleton-text{
    height: 30px !important;
    padding-bottom:1rem !important;
}
.lbs-loading--box{
    padding-bottom:1rem;
}
.lbs-loading--box:last-child{
    padding-bottom:0px !important;
}
@media only screen and (max-width:992px) {
    .lsb-box{
        margin-left:0px !important;
        margin-top:2rem;
    }
}
@media only screen and (max-width: 768px){
    
}
</style>