<template>
    <div class='VideoPlayer'>
        <video ref="videoPlayer" class="video-js"></video>
    </div>
</template>

<script>
import videojs from 'video.js';
export default {
    name: 'VideoPlayer',
    data(){
        return{
            player: null
        }
    },
    props: {
        options: {
            type: Object,
            default() {
                return {};
            }
        }
    },
     mounted() {
        this.player = videojs(this.$refs.videoPlayer, this.options, function onPlayerReady() {
            console.log('onPlayerReady', this);
        })
    },
    beforeDestroy() {
        if (this.player) {
            this.player.dispose()
        }
    }

}
</script>

<style scoped>
.VideoPlayer{
    height: 100%;
}
/* .VideoPlayer .video-js{
    width: 100%;
    height: 100%;
} */
</style>