<template>
    <div class='Actor'>
       <b-container fluid class="box-film">
            <div class="header-content">
                <h1 class="title-content font-medium">Actor</h1>
                <b-alert  v-if="showMessage && resFilmErrors" variant="danger" show dismissible fade @dismissed="messClose" class="message">
                    {{resFilmErrors}}
                </b-alert>
                <b-alert  v-if="showMessage && resFilmMessages" variant="success" show dismissible fade @dismissed="messClose" class="message">
                    {{resFilmMessages}}
                </b-alert>
            </div>
            <div class="create">
               <form @submit="handleAddNew">
                   <div class="box-addnew">
                       <gb-input  class="input" v-model.trim="$v.actorName.$model" placeholder="Actor name..."></gb-input>
                        <div class="show-error"><!--show error-->
                            <div v-if="$v.actorName.$error">
                                <span v-if="!$v.actorName.required">Tên diễn viên là bắt buộc</span>
                            </div>
                        </div>
                   </div>
                   
                    <div class="actor-image">
                         <b-form-file 
                            class="image"
                            v-model="actorImage"
                            browse-text="Chọn ảnh"
                            placeholder="Chọn file..."
                            drop-placeholder="Drop file here..."
                            accept=".jpg, .png, .gif, .jpeg"
                            >
                        </b-form-file>
                    </div>
                    <div>
                         <gb-button type="submit" color="green" class="btn-add-actor" left-icon="done">Thêm</gb-button>
                    </div>
                </form>
            </div>
           <!-- phan trang -->
            <JwPagination :pageSize=10 :items="this.actor" @changePage="onChangePage"></JwPagination>
            <div class="list-item">
                <table class="table-list">
                    <tr class="header-table">
                        <td class="index">Index</td>
                        <td>Name</td>
                        <td></td>
                    </tr>
                    <tr v-for="(i,index) in this.pageOfItems" :key="i.id" class="content-table" :class="{rowStyle:isShow==i}">
                        <td class="index">{{index+1}}</td>
                        <td @mouseover="showBottomRow(i)">
                            <div class="td-name">
                                <p>{{i.name}}</p>
                                <div class="bottom-row" :class="{br_show:isShow==i}">
                                    <a class="delete-item" @click="handleDelete(i.id)">Delete</a>
                                    <!-- <a class="item-view" href="/view">View</a> -->
                                </div>
                            </div>
                        </td>
                        <td>
                            <div v-if="isShow==i" class="box-update">
                                 <div class="input-update">
                                     <a @click="handleChooseAvatar" id="btn-choose-file">
                                         <b-avatar class="avatar" variant="info" :src="urlAvatar(index,i.avatar)"></b-avatar>
                                     </a>
                                     <input class="update-avatar" type="file" ref="uploadAvatar" accept=".jpg, .png, .gif, .jpeg" @change="onChangeUpdateAvatar($event,index)"/>
                                    
                                     <gb-input :placeholder="i.name" v-model="actorNameUpdate"></gb-input>
                                </div>
                                 <gb-button color="green" left-icon="done" @click="handleUpdate">update</gb-button>
                            </div>
                           
                        </td>
                    </tr><!-- end for-->
                </table>
           </div>
       </b-container>
    </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import {required} from "vuelidate/lib/validators";
import JwPagination from 'jw-vue-pagination';
import { mapActions, mapGetters, mapMutations } from 'vuex'
export default {
    name: 'Actor',
    mixins: [validationMixin],
    data(){
        return{
            pageOfItems:[],
            items:[],
            isShow:-1,
            showMessage:false,
            actorName:"",
            actorImage:null,
            actorImageUpdate:null,
            actorNameUpdate:"",
            actorIdUpdate:null,
            urlImage:null,
            indexUpdateAvatar:false
        }
    },
     validations() {
        return {
        actorName: {
            required,
        },
        };
    },
    async created(){
        await this.getActor()
        this.RESET_FILM_MSG()
    },
    components:{
        JwPagination
    },
    computed:{
       
        ...mapMutations(["RESET_MSG"]),
        ...mapGetters(["resFilmErrors","resFilmMessages","actor"])
    },
    methods:{
        handleChooseAvatar(){
           this.$refs.uploadAvatar[0].click()
        },
        onChangeUpdateAvatar(event,index){
            this.actorImageUpdate=event.target.files[0]
            let file=this.actorImageUpdate
            let reader = new FileReader
            reader.onload = e => {
                this.urlImage = e.target.result
            }
            reader.readAsDataURL(file)
            this.indexUpdateAvatar=index
        },
        async handleUpdate(){
            let formData=new FormData()
            formData.append("name",this.actorNameUpdate)
            formData.append("avatar",this.actorImageUpdate)
            await this.updateActor({actor_id:this.actorIdUpdate,actor_data:formData})
            this.showMessage=true
        },
        async handleAddNew(e){
            e.preventDefault()
            //show error
            this.$v.$touch();
            if (this.$v.$invalid) {
                this.submitStatus = "ERROR";
            } else {
            //submit
                let formdata=new FormData()
                formdata.append("name",this.actorName)
                formdata.append("avatar",this.actorImage)
                await this.addNewActor(formdata)
                this.showMessage=true
                await this.getActor()// load lai list category
            //end submit
                this.submitStatus = "PENDING";
                setTimeout(() => {
                this.submitStatus = "OK";
                }, 500);
            }//end show error
        },
        messClose(){
            this.showMessage=false
        },
        async handleDelete(id){
            await this.deleteActor(id)
            this.showMessage=true
        },
        onChangePage(pageOfItems){
            this.pageOfItems = pageOfItems;
        },
        showBottomRow(item){
            this.isShow=item
            this.actorNameUpdate=item.name
            this.actorIdUpdate=item.id
            this.actorImageUpdate=null
        },
        urlAvatar(index,url){
            if(this.indexUpdateAvatar===index){
                return this.urlImage
            }
            return process.env.SERVER_HOST+url
            
        },
       
        ...mapMutations(["RESET_FILM_MSG"]),
        ...mapActions(["getActor","deleteActor","addNewActor","updateActor"])
    }

}
</script>

<style scoped>
    .actor-image{
        max-width: 250px;
        margin-top: 1rem;
    }
    .btn-add-actor{
        margin-top: 1rem;
    }
    .box-addnew{
        width: fit-content;
        height: 50px;
    }
    .avatar{
        float: left;
        margin-right: 1rem;
        cursor: pointer;
    }
    .update-avatar{
        display: none;
    }
</style>