<template>
  <div class="AddNewFilm">
    <b-container fluid class="box">
      <form enctype="multipart/form-data" method="POST" @submit="handleAddNew">
        <b-col class="left" cols="9">
          <div class="header-content">
            <h1 class="title-content font-medium">New</h1>
            <gb-button color="blue" left-icon="apps" @click="handleAllFilm">
              Tất cả
            </gb-button>
            <b-alert  v-if="showMessage && resFilmErrors" variant="danger" show dismissible fade @dismissed="messClose" class="message">
                        {{resFilmErrors}}
            </b-alert>
            <b-alert  v-if="showMessage && resFilmMessages" variant="success" show dismissible fade @dismissed="messClose" class="message">
                        {{resFilmMessages}}
            </b-alert>
          </div>
          <div class="body-content">
              <table cellpadding="3px">
                <tr>
                    <td>
                      <gb-input class="input" v-model.trim="$v.name.$model" :full-width="false" label="Tên Phim"></gb-input>
                      <div class="show-error"><!--show error-->
                        <div v-if="$v.name.$error">
                          <span v-if="!$v.name.required">Tên phim là bắt buộc</span>
                        </div>
                      </div>
                    </td>
                    <td>
                      <gb-input class="input" v-model="name2" :full-width="false" label="Tên Phim 2"></gb-input>
                      <div class="show-error"><!--show error-->
                      </div>
                    </td>
                </tr>
                <tr>
                    <td>
                      <gb-input class="input" v-model.trim="$v.slug.$model" :full-width="false" label="Slug"></gb-input>
                      <div class="show-error"><!--show error-->
                        <div v-if="$v.slug.$error">
                          <span v-if="!$v.slug.required">Slug là bắt buộc</span>
                        </div>
                      </div>
                    </td>
                    <td>
                        <gb-input class="input" v-model.trim="$v.status.$model" label="Trạng thái"></gb-input>
                      <div class="show-error"><!--show error-->
                        <div v-if="$v.status.$error">
                          <span v-if="!$v.status.required">Trạng thái không để trống</span>
                        </div>
                      </div>
                    </td>
                    
                </tr>
                <tr>
                    <td>
                        <gb-select class="input" v-model="type_movie_id" :options="TypeMovieOptions" label="Loại phim"></gb-select>
                        <div class="show-error">
                        </div>
                    </td>
                    <td>
                        <gb-select label="Quốc Gia" class="input" v-model="nation_id" :options="NationOptions">
                        </gb-select>
                        <div class="show-error">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                      <gb-input type="number" class="input" v-model.trim="$v.year.$model" label="Năm"></gb-input>
                        <div class="show-error"><!--show error-->
                          <div v-if="$v.year.$error">
                            <span v-if="!$v.year.required">Năm không được để trống</span>
                            <span v-else-if="!$v.year.numeric">Năm phải là số</span>
                            <span v-else-if="!$v.year.minLength">Năm chưa đúng định dạng</span>
                            <span v-else-if="!$v.year.maxlength">Năm chưa đúng định dạng</span>
                          </div>
                        </div>
                    </td>
                    <td>
                      <gb-input class="input" type="number" v-model.trim="$v.duration.$model" label="Thời lượng"></gb-input>
                      <div class="show-error"><!--show error-->
                        <div v-if="$v.duration.$error">
                          <span v-if="!$v.duration.required">Thời lượng không được để trống</span>
                          <span v-else-if="!$v.duration.numeric">Thời lượng phải là số</span>
                        </div>
                      </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><gb-textarea v-model="description" label="Mô Tả"></gb-textarea></td>
                </tr>
              </table>
              <!-- <p>Nation:{{nation_id}}</p>
              <p>Type Movie:{{type_movie_id}}</p>
              <p>Category:{{categorySelected}}</p>-->
              <!-- <p>description:{{description}}</p> -->
             
             
          </div>
        </b-col>

        <b-col class="right" cols="3">
          <div class="box-btn-add-new">
               <gb-button @click="handleClearData" color="red" class="btn-add-new" left-icon="clear">Nhập lại</gb-button>
               <gb-button type="submit" color="green" class="btn-add-new" left-icon="done">Thêm</gb-button>
          </div>
          <p class="title-image">HÌNH ẢNH</p>
          <b-form-file 
            class="image"
            v-model.trim="$v.image.$model"
            browse-text="Chọn ảnh"
            placeholder="Hình ảnh cho phim..."
            drop-placeholder="Drop file here..."
            accept=".jpg, .png, .gif, .jpeg"
            >
          </b-form-file>
          <p class="title-image poster">POSTER</p>
          <b-form-file 
            class="image"
            v-model="poster"
            browse-text="Chọn ảnh"
            placeholder="Poster phim..."
            drop-placeholder="Drop file here..."
            accept=".jpg, .png, .gif, .jpeg"
          ></b-form-file>
          <div class="show-error"><!--show error-->
            <div v-if="$v.image.$error">
              <span v-if="!$v.image.required">Phải chọn hình ảnh</span>
            </div>
          </div>
          <h1 class="title-widget">Thể Loại</h1>
          <div class="content-category">
                <b-form-group v-slot="{ ariaDescribedby }">
                    <b-form-checkbox-group
                        id="checkbox-group-1"
                        v-model.trim="$v.categorySelected.$model"
                        :options="CategoryOptions"
                        :aria-describedby="ariaDescribedby"
                        name="flavour-1"
                    ></b-form-checkbox-group>
                </b-form-group>
          </div> 
          <div class="show-error"><!--show error-->
            <div v-if="$v.categorySelected.$error">
              <span v-if="!$v.categorySelected.required">Category không được để trống</span>
            </div>
          </div>
          <p class="title_actor">DIỄN VIÊN</p>
          <Multiselect class="multi-select" v-model.trim="$v.actorSelected.$model" :options="actor" :multiple="true" :close-on-select="false" :clear-on-select="false" :preserve-search="true" placeholder="Chọn Diễn Viên" label="name" track-by="name" :options-limit="5">
          </Multiselect>
          <div class="show-error"><!--show error-->
            <div v-if="$v.actorSelected.$error">
              <span v-if="!$v.actorSelected.required">Diễn viên không được để trống</span>
            </div>
          </div>
        </b-col>
      </form>
    </b-container>
  </div>
</template>
<script>
import { validationMixin } from "vuelidate";
import {
  helpers,
  required,
  minLength,
  between,
  numeric,
  maxLength,
  sameAs,
} from "vuelidate/lib/validators";
import { mapActions, mapGetters, mapMutations } from 'vuex';
import Multiselect from 'vue-multiselect'
export default {
  name: "AddNewFilm",
  mixins: [validationMixin],
  data() {
    return {
        isCreate:false,
        name:"",
        name2:"",
        slug:"",
        status:"",
        type_movie_id:1,
        nation_id:1,
        year:"",
        image:null,
        description:"",
        duration:"",
        num_view:"",
        poster:null,
        categorySelected:[],
        actorSelected:[],
        showMessage:false
    };
  },
  validations() {
    return {
      name: {
        required,
      },
      slug:{
        required
      },
      status: {
        required,
      },
      year: {
        required,
        numeric,
        minLength: minLength(4),
        maxLength: maxLength(4),
      },
      duration: {
        required,
        numeric
      },
      categorySelected:{
        required
      },
      actorSelected:{
        required
      },
      image:{
        required
      }

    };
  },
  components:{
    Multiselect
  },
   watch:{
     name(newVal){
       this.slug=this.formatFilmName(newVal)
     }
  },
  async created(){
    await this.getNation()
    await this.getTypeMovie()
    await this.getCategory();
    await this.getActor()
    this.RESET_FILM_MSG()
  },
  computed:{
    NationOptions(){// chuyen Nation object sang Options object
      let count=0
      let options=[]
      for (let item of this.nation) {
        options[count]={
              value:item.id,
              label:item.name
          }
          count++
      }
      return options
    },
    TypeMovieOptions(){
      let count=0
      let options=[]
      for (let item of this.type_movie) {
        options[count]={
              value:item.id,
              label:item.name
          }
          count++
      }
      return options
    },
    CategoryOptions(){
      let count=0
      let options=[]
      for (const item of this.category) {
        options[count]={
              value:item.id,
              text:item.name
          }
          count++
      }
      return options;
    },
    formatCategories(){// category [{category_id:"10"}]
      let count=0
      let options=[]
      for (const item of this.categorySelected) {
        options[count]={
              category_id:item,
          }
          count++
      }
      return options;
    },
    formatActor(){// actor [{actor_id:"10"}]
      let count=0
      let options=[]
      for (const item of this.actorSelected) {
        options[count]={
              actor_id:item.id,
          }
          count++
      }
      return options;
    },
      ...mapGetters(["nation","type_movie","category","actor","resFilmErrors","resFilmMessages"])
  },
  methods: {
    messClose(){
      this.showMessage=false;
    },
    handleClearData(){
        this.name=""
        this.name2=""
        this.slug=""
        this.status=""
        this.type_movie_id=1
        this.nation_id=1
        this.year=""
        this.image=null
        this.description=""
        this.duration=""
        this.categorySelected=[]
        this.actorSelected=[]
        console.log(this.description)
    },
    handleAddNew(e){
      e.preventDefault()
      //show all error
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.submitStatus = "ERROR";
      } else {
        // submit
        let fromdata=new FormData()
        fromdata.append("name",this.name)
        fromdata.append("name2",this.name2)
        fromdata.append("slug",this.slug)
        fromdata.append("status",this.status)
        fromdata.append("type_movie_id",this.type_movie_id)
        fromdata.append("nation_id",this.nation_id)
        fromdata.append("year",this.year)
        fromdata.append("image",this.image)
        fromdata.append("description",this.description)
        fromdata.append("duration",this.duration)
        fromdata.append("num_view",0)
        fromdata.append("poster",this.poster),
        fromdata.append("categories",JSON.stringify(this.formatCategories))
        fromdata.append("actors",JSON.stringify(this.formatActor))
        this.addNewFilm(fromdata)
        this.showMessage=true
        // end submit
        this.submitStatus = "PENDING";
        setTimeout(() => {
          this.submitStatus = "OK";
        }, 500);
      }
      //end show all error
      
      
    },
    handleAllFilm() {
      this.$router.push("/admin/film");
    },
    formatFilmName(str){
            str=str.toString()
            if (str === null || str === undefined) return str;
            str = str.toString().toLowerCase();
            str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a");
            str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, "e");
            str = str.replace(/ì|í|ị|ỉ|ĩ/g, "i");
            str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g, "o");
            str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u");
            str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y");
            str = str.replace(/đ/g, "d");
            str = str.replaceAll(" ","-")
            return str;
      },

   ...mapMutations(["RESET_FILM_MSG"]),
    ...mapActions(["getNation","getTypeMovie","getCategory","getActor","addNewFilm"])
  },

};
</script>

<style scoped>
  .poster{
    margin-top: 1rem;
  }
</style>>

