<template>
  <div class="Admin">
    <NavAdmin />
    <div class="content">
      <router-view />
    </div>
    <div class="footer-admin">
      <p>Design by 2ETeam</p>
    </div>
  </div>
</template>

<script>
import NavAdmin from "@/components/Admin/NavAdmin.vue";
export default {
  name: "Admin",
  data() {
    return {};
  },
  components: {
    NavAdmin,
  },
};
</script>

<style>
.Admin p{
  margin: 0px;
}
.td-name p{
  margin: 0px;
}
.input-update-type-movie{
  /* width: 50%; */
  margin-right:1rem ;
  display: flex;
}
.input-update-type-movie div{
  width: 200px;
}
.input-update-type-movie div:first-child{
  margin-right:0.5rem;
}

.box-add-type-movie{
    width: fit-content;
    float: left;
    margin-bottom:0.5rem ;
}
.box-add-type-movie .input{
  width: 250px;
  float: left;
}
.box-add-type-movie:first-child .input{
  margin-right:1rem ;
}
.box-update{
  display:flex;
}
.input-update{
  width: 50%;
  margin-right:1rem ;
}
.box-addnew .input{
  width: 250px;
  float: left;
}
.btn-add{
  margin-left: 1rem;
}
.create{
  margin-top:1rem;
}
.table-addnew{
  width: 100%;
}
.form-addnew{
  width: 500px;
}
.Admin {
  position: relative;
  margin-top: 70px;
}
.content {
  width: calc(100% - 160px);
  float: left;
  position: relative;
  left: 160px;
  background: #222c3c;
  padding-bottom: 1rem;
  min-height: 100vh;
}
.footer-admin {
  background: #1b2431;
  float: left;
  display: flex;
  justify-content: center;
  width: calc(100% - 160px);
  left: 160px;
  position: relative;
}
.footer-admin p {
  padding: 1rem 0px;
  margin: 0px;
}
.message {
    margin: 0 0 0 1rem;
    margin-bottom: 0px !important;
}

.pagination {
  margin-top: 1rem !important;
  width: 100%;
}
.pagination li a {
  border: 1px solid #313d4f !important;
  background: #273142;
  color: white;
}
.pagination .page-item.disabled .page-link {
  background: #313d4f;
  color: #8eacc5;
}
.pagination .page-item.active .page-link {
  background-color: white;
  color: #273142;
}
.pagination li a:hover {
  color: #1b2431 !important;
}
.br_show {
  display: flex !important;
}
.rowStyle {
  background: #313d4f;
}
.index {
  padding-left: 1rem;
}
.title-content {
  float: left;
  width: fit-content;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}
.header-content {
  display: flex;
  flex-wrap: wrap;
  height: 50px;
}
.list-item {
  background: #273142;
  padding: 1rem;
  margin-top: 1rem;
}
.header-table {
  border-bottom: 1px solid #313d4f;
  text-align: left;
  color: #8eacc5;
}
.header-table td {
  padding-bottom: 1rem;
}
.content-table {
  border-bottom: 1px solid #313d4f;
  text-align: left;
}
.item-name {
  display: block;
  width: 100%;
  /* padding:1rem 0px ; */
}
.td-name {
  padding: 0.5rem 0px;
}
.table-list {
  width: 100%;
}
.item-name {
  color: white;
  text-decoration: none !important;
}
.item-name:hover {
  color: aqua;
}
.delete-item {
  color: #8eacc5 !important;
  text-decoration: none !important;
  padding-right: 0.5rem;
  cursor: pointer;
}
.delete-item:hover {
  color: #e0102b !important;
}
.bottom-row {
  display: flex;
  display: none;
}
.item-view {
  color: #8eacc5;
  text-decoration: none !important;
  cursor: pointer;
}
.item-view:hover {
  color: aqua;
}
.title-image{
  margin-bottom:0.5rem ;
}
.multi-select .multiselect__input{
  border: unset;
  width: 100% !important;
  border-radius: 5px;
  padding: 0.5rem !important;
  display: block;
  background: white;

}
.multi-select .multiselect__content-wrapper{
  background: rgb(49, 61, 79);
  color: white;
  max-height: unset !important;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.multi-select .multiselect__content{
  padding-left:10px;
  padding-top:10px;
}
.multi-select .multiselect__content li{
  list-style: none;
}
.multi-select .multiselect__element{
  list-style: none;
  cursor: pointer;
}
.multi-select .multiselect__tag{
    background: #313d4f;
    padding: 0.3rem;
    border-radius: 3px;
    margin-bottom: 8px;
    display: block;
    color: white;
}
.multi-select .multiselect__option--selected{
  color: #96BF47;
}
.multi-select{
  margin-top:0.5rem;
  box-sizing: content-box;
  display: block;
  position: relative;
  width: 100%;
  text-align: left;
  color: #35495e;
  padding-bottom: 30px;
  margin-bottom: -7px;
}
.title_actor{
  margin-top:2rem;
}
.image{
  margin-bottom:0.1rem;  
}
.content-category{
  background: #313d4f;
  padding: 1rem;
  height: 250px;
  overflow: auto;
  border-top: 1px solid #b6b6b64f;
  margin-bottom:0.2rem ;
}
.body-content table{
    width: 100%;
}
.title-widget {
  /* color: #A9C7DF; */
  font-size: 18px;
  width: 100%;
  text-align: center;
  text-align: center;
  padding: 0.5rem;
  background: #313D4F;
  margin-top:1rem ;
}
.box {
  text-align: left;
  position: relative;
  margin-top: 15px;
}
.left {
  float: left;
  padding-left: 0px;
}
.right {
    background: #273142;
    min-width: 160px;
    height: fit-content;
    float: left;
    padding-bottom: 2rem;
}
.body-content{
    background:#273142;
    padding: 1rem;
    margin-top:1rem;
}
.box-btn-add-new{
    margin: 1rem 0px;
    text-align: left;
}
.box-film{
    text-align: left;
    position: relative;
    margin-top:15px;
}

</style>