<template>
    <div class='Film'>
       <b-container fluid class="box-film">
            <div class="header-content">
                <h1 class="title-content font-medium">Category</h1>
               
                <b-alert  v-if="showMessage && resFilmErrors" variant="danger" show dismissible fade @dismissed="messClose" class="message">
                    {{resFilmErrors}}
                </b-alert>
                <b-alert  v-if="showMessage && resFilmMessages" variant="success" show dismissible fade @dismissed="messClose" class="message">
                    {{resFilmMessages}}
                </b-alert>
               
            </div>
            <div class="create">
               <form @submit="handleAddNew" >
                   <div class="box-addnew">
                       <gb-input  class="input" v-model.trim="$v.categoryName.$model" placeholder="Category name..."></gb-input>
                        <gb-button type="submit" color="green" class="btn-add" left-icon="done">Thêm</gb-button>
                   </div>
                    <div class="show-error"><!--show error-->
                        <div v-if="$v.categoryName.$error">
                        <span v-if="!$v.categoryName.required">Tên Category là bắt buộc</span>
                        </div>
                    </div>
                </form>
            </div>
           <!-- phan trang -->
            <JwPagination :pageSize=10 :items="this.category" @changePage="onChangePage"></JwPagination>
            <div class="list-item">
                <table class="table-list">
                    <tr class="header-table">
                        <td class="index">Index</td>
                        <td>Name</td>
                        <td></td>
                    </tr>
                    <tr v-for="(i,index) in this.pageOfItems" :key="i.id" class="content-table" :class="{rowStyle:isShow==i}">
                        <td class="index">{{index+1}}</td>
                        <td @mouseover="showBottomRow(i)">
                            <div class="td-name">
                                <p>{{i.name}}</p>
                                <div class="bottom-row" :class="{br_show:isShow==i}">
                                    <a class="delete-item" @click="handleDelete(i.id)">Delete</a>
                                    <!-- <a class="item-view" href="/view">View</a> -->
                                </div>
                            </div>
                        </td>
                        <td>
                            <div v-if="isShow==i" class="box-update">
                                 <div class="input-update"><gb-input :placeholder="i.name" v-model="categoryNameUpdate"></gb-input></div>
                                 <gb-button color="green" left-icon="done" @click="handleUpdate">update</gb-button>
                            </div>
                           
                        </td>
                    </tr><!-- end for-->
                </table>
           </div>
       </b-container>
    </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import {required} from "vuelidate/lib/validators";
import JwPagination from 'jw-vue-pagination';
import { mapActions, mapGetters, mapMutations } from 'vuex'
export default {
    name: 'Film',
    mixins: [validationMixin],
    data(){
        return{
            pageOfItems:[],
            items:[],
            isShow:-1,
            showMessage:false,
            categoryName:"",
            categoryNameUpdate:"",
            categoryIdUpdate:null
        }
    },
     validations() {
        return {
        categoryName: {
            required,
        },
        };
    },
    async created(){
        await this.getCategory()
        this.RESET_FILM_MSG()
    },
    components:{
        JwPagination
    },
    computed:{
        ...mapMutations(["RESET_MSG"]),
        ...mapGetters(["resFilmErrors","resFilmMessages","category"])
    },
    methods:{
        async handleUpdate(){
            await this.updateCategory({category_id:this.categoryIdUpdate,category_name:this.categoryNameUpdate})
            this.showMessage=true
          
        },
        async handleAddNew(e){
            e.preventDefault()
            //show error
            this.$v.$touch();
            if (this.$v.$invalid) {
                this.submitStatus = "ERROR";
            } else {
            //submit
                await this.addNewCategory({
                    name:this.categoryName
                })
                this.showMessage=true
               await this.getCategory()// load lai list category
            //end submit
                this.submitStatus = "PENDING";
                setTimeout(() => {
                this.submitStatus = "OK";
                }, 500);
            }//end show error
        },
        messClose(){
            this.showMessage=false
        },
        async handleDelete(id){
            await this.deleteCategory(id)
            this.showMessage=true
        },
        onChangePage(pageOfItems){
            this.pageOfItems = pageOfItems;
        },
        showBottomRow(item){
            this.isShow=item
            this.categoryNameUpdate=item.name
            this.categoryIdUpdate=item.id
        },
      
        
        ...mapMutations(["RESET_FILM_MSG"]),
        ...mapActions(["getCategory","deleteCategory","addNewCategory","updateCategory"])
    }
}
</script>

<style scoped>
</style>
