<template>
    <div class='Episode'>
       <b-container fluid class="box-film">
            <div class="header-content">
                <h1 class="title-content font-medium">Quản lý tập phim</h1>
               
                <b-alert  v-if="showMessage && resFilmErrors" variant="danger" show dismissible fade @dismissed="messClose" class="message">
                    {{resFilmErrors}}
                </b-alert>
                <b-alert  v-if="showMessage && resFilmMessages" variant="success" show dismissible fade @dismissed="messClose" class="message">
                    {{resFilmMessages}}
                </b-alert>
               
            </div>
            <div >
                <div class="choose-film">
                    <label class="typo__label">Chọn phim</label>
                    <Multiselect class="multi-select" v-model="currentFilm" :options="this.film" placeholder="Select one..." label="name" track-by="id" :options-limit="5"/>
                </div>
                <h1 v-if="currentFilm.name" class="title-film font-medium">{{currentFilm.name}}</h1>
            </div>
            <!-- create -->
            <div class="create" v-if="currentFilm.name">
               <form @submit="handleAddNew" >
                   
                   <div class="box-add-type-movie">
                       <gb-input  class="input" v-model.trim="$v.episodeName.$model" placeholder="Episode name..."></gb-input>
                        <div class="show-error"><!--show error-->
                            <div v-if="$v.episodeName.$error">
                                <span v-if="!$v.episodeName.required">Tên Type Movie là bắt buộc</span>
                            </div>
                        </div>
                     </div>
                    <div class="box-add-type-movie">
                       <gb-input  class="input" v-model.trim="$v.episodeContent.$model" placeholder="Link..."></gb-input>
                        <div class="show-error"><!--show error-->
                            <div v-if="$v.episodeContent.$error">
                                <span v-if="!$v.episodeContent.required">Link không đươc để trống</span>
                                <span v-if="!$v.episodeContent.url">Link không đúng định dạng</span>
                            </div>
                    </div>
                   </div>
                   <gb-button type="submit" color="green" class="btn-add" left-icon="done">Thêm mới</gb-button>
                </form>
            </div>
            <!-- phan trang -->
            <JwPagination :pageSize=10 :items="this.listEpisode" @changePage="onChangePage"></JwPagination>
            <div class="list-item" v-if="this.listEpisode.length!==0">
                <table class="table-list">
                    <tr class="header-table">
                        <td class="index">Index</td>
                        <td>Name</td>
                        <td>Link</td>
                        <td></td>
                    </tr>
                    <tr v-for="(i,index) in this.pageOfItems" :key="i.id" class="content-table" :class="{rowStyle:isShow==i}">
                        <td class="index">{{index+1}}</td>
                        <td @mouseover="showBottomRow(i)">
                            <div class="td-name">
                                <p>{{i.episode_name}}</p>
                                <div class="bottom-row" :class="{br_show:isShow==i}">
                                    <a class="delete-item" @click="handleDelete(i.id)">Delete</a>
                                    <!-- <a class="item-view" href="/view">View</a> -->
                                </div>
                            </div>
                        </td>
                        <td><p>{{i.content}}</p></td>
                        <td>
                            <div v-if="isShow==i" class="box-update">
                                 <div class="input-update-type-movie">
                                    <gb-input :placeholder="i.episode_name" v-model="episodeNameUpdate"></gb-input>
                                    <gb-input :placeholder="i.content" v-model="episodeContentUpdate"></gb-input>
                                 </div>
                                 <gb-button color="green" left-icon="done" @click="handleUpdate">Update</gb-button>
                            </div>
                           
                        </td>
                    </tr><!-- end for-->
                </table>
           </div>
       </b-container>
    </div>
</template>

<script>
import Multiselect from 'vue-multiselect'
import { validationMixin } from "vuelidate";
import {required,url} from "vuelidate/lib/validators";
import JwPagination from 'jw-vue-pagination';
import { mapActions, mapGetters, mapMutations } from 'vuex'
export default {
    name: 'Episode',
    mixins: [validationMixin],
    data(){
        return{
            pageOfItems:[],
            items:[],
            isShow:-1,
            showMessage:false,
            episodeNameUpdate:"",
            episodeIdUpdate:null,
            episodeContentUpdate:"",
            currentFilm:{},
            episodeName:"",
            episodeContent:""
        }
    },
     validations() {
        return {
            episodeName:{
                required,
            },
            episodeContent:{
                required,
                url
            }
        };
    },
    watch:{
        async currentFilm(newVal){
           
            await this.getEpisodeByFimlID(this.currentFilm.id) 
            // this.listEpisode
        }
    },
    async created(){
        await this.getFilm()
        
        this.RESET_FILM_MSG()
    },
    components:{
        JwPagination,
        Multiselect
    },
    computed:{
        ...mapMutations(["RESET_MSG"]),
        ...mapGetters(["resFilmErrors","resFilmMessages","film","listEpisode"])
    },
    methods:{
        
        async handleUpdate(){
            await this.updateEpisode({
                id:this.episodeIdUpdate,
                film_id:this.currentFilm.id,
                episode_name:this.episodeNameUpdate,
                content:this.episodeContentUpdate
            })
            this.showMessage=true
          
        },
        async handleAddNew(e){
            e.preventDefault()
            //show error
            this.$v.$touch();
            if (this.$v.$invalid) {
                this.submitStatus = "ERROR";
            } else {
            //submit
            
                await this.addEpisode({
                    film_id:this.currentFilm.id,
                    episode_name:this.episodeName,
                    content:this.episodeContent
                })
                this.showMessage=true
                await this.getEpisodeByFimlID(this.currentFilm.id)// load lai list category
            //end submit
                this.submitStatus = "PENDING";
                setTimeout(() => {
                this.submitStatus = "OK";
                }, 500);
            }//end show error
        },
        messClose(){
            this.showMessage=false
        },
        async handleDelete(id){
            await this.deleteEpisode(id)
            this.showMessage=true
        },
        onChangePage(pageOfItems){
            this.pageOfItems = pageOfItems;
        },
        showBottomRow(item){
            this.isShow=item
            this.episodeNameUpdate=item.episode_name
            this.episodeIdUpdate=item.id
            this.episodeContentUpdate=item.content
        },
        
        ...mapMutations(["RESET_FILM_MSG"]),
        ...mapActions(["getFilm","deleteEpisode","addEpisode","updateEpisode","getEpisodeByFimlID"])
    }
}
</script>

<style scoped>
.title-film{
    margin-top: 1rem;
    margin-bottom: 0px;
    font-weight: bold;
    letter-spacing: 1.2px;
}
.multiselect__input{
    width:100% !important;
    
}
.multi-select{
    min-height: 32px;
    padding-bottom: 1rem;
}
.choose-film{
    max-width:350px;
}

</style>
