<template>
    <div class='Film'>
       <b-container fluid class="box-film">
            <div class="header-content">
                <h1 class="title-content font-medium">Phim</h1>
                <gb-button color="blue" left-icon="add" @click="handleAddNew">
                    Add new
                </gb-button>
                <b-alert  v-if="showMessage && resFilmErrors" variant="danger" show dismissible fade @dismissed="messClose" class="message">
                    {{resFilmErrors}}
                </b-alert>
                <b-alert  v-if="showMessage && resFilmMessages" variant="success" show dismissible fade @dismissed="messClose" class="message">
                    {{resFilmMessages}}
                </b-alert>
            </div>
            <div >
                <div class="choose-film">
                    <label class="typo__label">Tìm kiếm phim</label>
                    <Multiselect class="multi-select" v-model="currentFilm" :options="this.film" placeholder="Select one..." label="name" track-by="id" :options-limit="5"/>
                    <gb-button v-if="this.listFilm.length===1" class="all-film" color="green" left-icon="apps" @click="handleAllFilm">Xem tất cả</gb-button>
                </div>
            </div>
            <!-- phan trang -->
            <JwPagination :pageSize=20 :items="this.listFilm" @changePage="onChangePage"></JwPagination>
            <div class="list-item">
                <table class="table-list">
                    <tr class="header-table">
                        <td class="index">Index</td>
                        <td>Name</td>
                        <td>Name 2</td>
                        <td>Poster</td>
                        <td>Type Movie</td>
                        <td>View</td>
                    </tr>
                    <tr v-for="(i,index) in this.pageOfItems" :key="i.id" class="content-table" :class="{rowStyle:isShow==index}">
                        <td class="index">{{index+1}}</td>
                        <td @mouseover="showBottomRow(index)">
                            <div class="td-name">
                                <router-link class="item-name" :to="'/admin/update-film?id='+i.id">{{i.name}}</router-link>
                                <div class="bottom-row" :class="{br_show:isShow==index}">
                                    <a class="delete-item" @click="handleDelete(i.id)">Delete</a>
                                    <router-link class="item-view" :to="'/watch/'+i.slug">View</router-link>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p>{{i.name2}}</p>
                        </td>
                        <td>
                            <b-icon v-if="i.poster" icon="check-circle-fill" class="color-green"></b-icon>
                        </td>
                        <td>
                            <p>{{getTypeMovieName(i.type_movie_id)}}</p>
                        </td>
                        <td>
                            <p>{{i.num_view}}</p>
                        </td>
                    </tr>
                </table>
           </div>
       </b-container>
    </div>
</template>

<script>
import JwPagination from 'jw-vue-pagination';
import { mapActions, mapGetters, mapMutations } from 'vuex'
import Multiselect from "vue-multiselect"
export default {
    name: 'Film',
    data(){
        return{
            pageOfItems:[],
            items:[],
            isShow:-1,
            showMessage:false,
            currentFilm:{},
            listFilm:[]
        }
    },
    async created(){
        await this.getFilm()
        await this.getTypeMovie()
        this.RESET_FILM_MSG()
        this.listFilm=this.film
    },
    watch:{
        currentFilm(newVal){
            if(newVal){
                this.listFilm=[]
                this.listFilm.push(newVal)  
            }
        },
        getListFilm(newVal){
            this.listFilm=newVal
        }
    },
    components:{
        JwPagination,
        Multiselect
    },
    computed:{
        getListFilm(){
            return this.film
        },
        ...mapMutations(["RESET_MSG"]),
        ...mapGetters(["film","type_movie","resFilmErrors","resFilmMessages"])
    },
    methods:{
        handleAllFilm(){
            this.listFilm=this.film
        },
        handleAddNew(){
            this.$router.push("/admin/add-new-film")
        },
        messClose(){
            this.showMessage=false
        },
        async handleDelete(id){
            // console.log(id)
            await this.deleteFilm(id)
            this.showMessage=true
        },
        onChangePage(pageOfItems){
            this.pageOfItems = pageOfItems;
        },
        showBottomRow(index){
            this.isShow=index
        },
        getTypeMovieName(item){
            let typeMovie={}
            this.type_movie.find((i)=>{
                if(i.id===item){
                    typeMovie=i.name
                }
            })
            return typeMovie
        },
       
        ...mapMutations(["RESET_FILM_MSG"]),
        ...mapActions(["getFilm","getTypeMovie","deleteFilm"])
    }
}
</script>

<style scoped>
.box-film{
    text-align: left;
    position: relative;
    margin-top:15px;
}
.multiselect__input{
    width:100% !important;
}
.multi-select{
    min-height: 32px;
    padding-bottom: 1rem;
}
.choose-film{
    max-width:350px;
}
.typo__label{
    margin-top: 1rem;
    margin-bottom: 0px;
}
.all-film{
    margin-top:1rem;
}
</style>