<template>
  <div class="HeaderAdmin">
    <b-container class="top" fluid>
      <div class="logo">
        <router-link to="/">
          <img src="../../assets/logo.png" width="150" />
        </router-link>
          
      </div>
      <div class="log">
        <gb-button 
          v-if="!isLoginGlobal"
          class="btn-login"
          color="black"
          left-icon="person"
          @click="handleLogin()"
        >
          Đăng nhập
        </gb-button>
        <div v-if="this.user.display_name" class="user-info">
          <img
            v-if="getUrlAvatar"
            :src="getUrlAvatar"
            :alt="this.user.display_name"
            :title="this.user.display_name"
            class="img-avatar"
          />
        </div>
        <gb-button
          v-if="this.user.display_name"
          class="btn-log"
          @click="handleLogOut()"
          color="black"
          left-icon="logout"
        >
          Đăng xuất
        </gb-button>
      </div>
    </b-container>
   
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "HeaderAdmin",
  data() {
    return {
      message: "Search",
    };
  },
  props: {
    user: Object,
  },
  components: {
  },
  computed: {
    getUrlAvatar() {
      if (this.user.url_avatar !== null) {
        return process.env.SERVER_HOST +"/"+ this.user.url_avatar;
      } else {
        return "";
      }
    },
    ...mapGetters(["isLoginGlobal"]),
  },
  methods: {
    handleLogin() {
      if (this.$route.path != "/login") {
        this.$router.push("/login");
      }
    },
    handleRegister() {
      if (this.$route.path != "/register") {
        this.$router.push("/register");
      }
    },
    async handleLogOut() {
      await this.logout();
      this.$router.push("/login");
    },
    ...mapActions(["logout"]),
  },
};
</script>

<style scoped>
.HeaderAdmin {
  background: #171e29;
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 999999;
  top: 0px;
  left: 0px;
}
.top {
  /* width: 70%; */
  height: 70px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.log {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-log {
  margin-right: 5px;
}
.btn-log a {
  text-decoration: none;
}
.btn-log a {
  font-size: 13px;
}
.img-avatar {
  border-radius: 50%;
  object-fit: cover;
  width:40px;
  height:40px;
}
.user-info {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.btn-login {
  margin-left: 10px;
}
.btn-search {
  margin-left: 7px;
}

.input-search {
  width: 200px;
  margin: auto;

  /* height: 35px; */
}
</style>

