<template>
  <div class="NavAdmin">
    <ul class="menu-list">
      <li class="li-link">
          <router-link class="link" to="/admin"><b-icon icon="house-fill"></b-icon>Bảng tin</router-link>
      </li>
      <li class="li-link">
          <router-link class="link" to="/admin/film"><b-icon icon="film"></b-icon>Phim</router-link>
      </li>
       <li class="li-link">
          <router-link class="link" to="/admin/episode"><b-icon icon="book-half"></b-icon>Tập phim</router-link>
      </li>
      <li class="li-link">
          <router-link class="link" to="/admin/category"><b-icon icon="card-checklist"></b-icon>Category</router-link>
      </li>
      <li class="li-link">
          <router-link class="link" to="/admin/type-movie"><b-icon icon="camera-reels-fill"></b-icon>Type Movie</router-link>
      </li>
      <li class="li-link">
          <router-link class="link" to="/admin/nation"><b-icon icon="globe"></b-icon>Quốc gia</router-link>
      </li>
      <li class="li-link">
          <router-link class="link" to="/admin/actor"><b-icon icon="person-circle"></b-icon>Diễn viên</router-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "NavAdmin",
  data() {
    return {};
  },
};
</script>

<style scoped>
.NavAdmin {
  position: relative;
  width: 160px;
  float: left;
  height: calc(100vh - 70px);
  background: #171e29;
  position: fixed;
  top: 70px;
  left: 0px;
}
.menu-list {
  text-align: left;
  padding-left: 0px;
  width: 100%;
}
.li-link{
  list-style: none;
}
.link {
  color: unset;
  font-size: 1rem;
  border-bottom: 1px solid #313d4f;
  padding: 0.5rem;
  display: block;
  width: 100%;
  text-decoration: none;
}
.link:hover{
    background: #313D4F;
}
.link svg{
    margin-right:0.5rem ;
}
.router-link-exact-active {
  background: #313D4F !important;
}
</style>