<template>
    <div class='Film'>
       <b-container fluid class="box-film">
            <div class="header-content">
                <h1 class="title-content font-medium">Type Movie</h1>
               
                <b-alert  v-if="showMessage && resFilmErrors" variant="danger" show dismissible fade @dismissed="messClose" class="message">
                    {{resFilmErrors}}
                </b-alert>
                <b-alert  v-if="showMessage && resFilmMessages" variant="success" show dismissible fade @dismissed="messClose" class="message">
                    {{resFilmMessages}}
                </b-alert>
               
            </div>
            <div class="create">
               <form @submit="handleAddNew" >
                   
                   <div class="box-add-type-movie">
                       <gb-input  class="input" v-model.trim="$v.typeMovieName.$model" placeholder="Type Movie name..."></gb-input>
                        <div class="show-error"><!--show error-->
                            <div v-if="$v.typeMovieName.$error">
                                <span v-if="!$v.typeMovieName.required">Tên Type Movie là bắt buộc</span>
                            </div>
                        </div>
                     </div>
                    <div class="box-add-type-movie">
                       <gb-input  class="input" v-model.trim="$v.typeMovieHandle.$model" placeholder="Handle..."></gb-input>
                        <div class="show-error"><!--show error-->
                            <div v-if="$v.typeMovieHandle.$error">
                                <span v-if="!$v.typeMovieHandle.required">Handle không đươc để trống</span>
                            </div>
                    </div>
                   </div>
                   <gb-button type="submit" color="green" class="btn-add" left-icon="done">Thêm</gb-button>
                </form>
            </div>
           <!-- phan trang -->
            <JwPagination :pageSize=10 :items="this.type_movie" @changePage="onChangePage"></JwPagination>
            <div class="list-item">
                <table class="table-list">
                    <tr class="header-table">
                        <td class="index">Index</td>
                        <td>Name</td>
                        <td>Handle</td>
                        <td></td>
                    </tr>
                    <tr v-for="(i,index) in this.pageOfItems" :key="i.id" class="content-table" :class="{rowStyle:isShow==i}">
                        <td class="index">{{index+1}}</td>
                        <td @mouseover="showBottomRow(i)">
                            <div class="td-name">
                                <p>{{i.name}}</p>
                                <div class="bottom-row" :class="{br_show:isShow==i}">
                                    <a class="delete-item" @click="handleDelete(i.id)">Delete</a>
                                    <!-- <a class="item-view" href="/view">View</a> -->
                                </div>
                            </div>
                        </td>
                        <td><p>{{i.handle}}</p></td>
                        <td>
                            <div v-if="isShow==i" class="box-update">
                                 <div class="input-update-type-movie">
                                    <gb-input :placeholder="i.name" v-model="typeMovieNameUpdate"></gb-input>
                                    <gb-input :placeholder="i.handle" v-model="typeMovieHandleUpdate"></gb-input>
                                 </div>
                                 <gb-button color="green" left-icon="done" @click="handleUpdate">update</gb-button>
                            </div>
                           
                        </td>
                    </tr><!-- end for-->
                </table>
           </div>
       </b-container>
    </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import {required} from "vuelidate/lib/validators";
import JwPagination from 'jw-vue-pagination';
import { mapActions, mapGetters, mapMutations } from 'vuex'
export default {
    name: 'Film',
    mixins: [validationMixin],
    data(){
        return{
            pageOfItems:[],
            items:[],
            isShow:-1,
            showMessage:false,
            typeMovieName:"",
            typeMovieHandle:"",
            typeMovieNameUpdate:"",
            typeMovieHandleUpdate:"",
            categoryIdUpdate:null,
        }
    },
     validations() {
        return {
            typeMovieName: {
                required,
            },
            typeMovieHandle:{
                required
            }
        };
    },
    async created(){
        await this.getTypeMovie()
        this.RESET_FILM_MSG()
    },
    components:{
        JwPagination
    },
    computed:{
        ...mapMutations(["RESET_MSG"]),
        ...mapGetters(["resFilmErrors","resFilmMessages","type_movie"])
    },
    methods:{
        async handleUpdate(){
            await this.updateTypeMovie({
                type_movie_id:this.type_movie_id,
                typeMovieName:this.typeMovieNameUpdate,
                typeMovieHandle:this.typeMovieHandleUpdate
            })
            this.showMessage=true
           
        },
        async handleAddNew(e){
            e.preventDefault()
            //show error
            this.$v.$touch();
            if (this.$v.$invalid) {
                this.submitStatus = "ERROR";
            } else {
            //submit
                await this.addNewTypeMovie({
                    name:this.typeMovieName,
                    handle:this.typeMovieHandle
                })
                this.showMessage=true
               await this.getTypeMovie()// load lai list category
            //end submit
                this.submitStatus = "PENDING";
                setTimeout(() => {
                this.submitStatus = "OK";
                }, 500);
            }//end show error
        },
        messClose(){
            this.showMessage=false
        },
        async handleDelete(id){
            await this.deleteTypeMovie(id)
            this.showMessage=true
        },
        onChangePage(pageOfItems){
            this.pageOfItems = pageOfItems;
        },
        showBottomRow(item){
            this.isShow=item
            this.type_movie_id=item.id
            this.typeMovieNameUpdate=item.name
            this.typeMovieHandleUpdate=item.handle
        },
        
        ...mapMutations(["RESET_FILM_MSG"]),
        ...mapActions(["getTypeMovie","deleteTypeMovie","addNewTypeMovie","updateTypeMovie"])
    }
}
</script>

<style scoped>

</style>
<style>
    
</style>