<template>
  <div class="AddNewFilm">
    <b-container fluid class="box">
      <form enctype="multipart/form-data" method="POST" @submit="handleUpdate">
        <b-col class="left" cols="9">
          <div class="header-content">
            <h1 class="title-content font-medium">Update</h1>
            <gb-button color="blue" left-icon="apps" @click="handleAllFilm">
              Tất cả
            </gb-button>
            <b-alert  v-if="showMessage && resFilmErrors" variant="danger" show dismissible fade @dismissed="messClose" class="message">
                        {{resFilmErrors}}
            </b-alert>
            <b-alert  v-if="showMessage && resFilmMessages" variant="success" show dismissible fade @dismissed="messClose" class="message">
                        {{resFilmMessages}}
            </b-alert>
          </div>
          <div class="body-content">
              <table cellpadding="3px">
                <tr>
                    <td>
                      <gb-input class="input" v-model.trim="$v.name.$model" :full-width="false" label="Tên Phim"></gb-input>
                      <div class="show-error"><!--show error-->
                        <div v-if="$v.name.$error">
                          <span v-if="!$v.name.required">Tên phim là bắt buộc</span>
                        </div>
                      </div>
                    </td>
                    <td>
                      <gb-input class="input" v-model="name2" :full-width="false" label="Tên Phim 2"></gb-input>
                      <div class="show-error"><!--show error-->
                      </div>
                    </td>
                </tr>
                <tr>
                    <td>
                      <gb-input class="input" v-model.trim="$v.slug.$model" :full-width="false" label="Slug"></gb-input>
                      <div class="show-error"><!--show error-->
                        <div v-if="$v.slug.$error">
                          <span v-if="!$v.slug.required">Slug là bắt buộc</span>
                        </div>
                      </div>
                    </td>
                    <td>
                        <gb-input class="input" v-model.trim="$v.status.$model" label="Trạng thái"></gb-input>
                      <div class="show-error"><!--show error-->
                        <div v-if="$v.status.$error">
                          <span v-if="!$v.status.required">Trạng thái không để trống</span>
                        </div>
                      </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <gb-select class="input" v-model="type_movie_id" :options="TypeMovieOptions" label="Loại phim"></gb-select>
                        <div class="show-error">
                        </div>
                    </td>
                    <td>
                        <gb-select label="Quốc Gia" class="input" v-model="nation_id" :options="NationOptions">
                        </gb-select>
                        <div class="show-error">
                        </div>
                    </td>
                </tr>
                <tr>
                  <td>
                    <gb-input type="number" class="input" v-model.trim="$v.year.$model" label="Năm"></gb-input>
                    <div class="show-error"><!--show error-->
                      <div v-if="$v.year.$error">
                        <span v-if="!$v.year.required">Năm không được để trống</span>
                        <span v-else-if="!$v.year.numeric">Năm phải là số</span>
                        <span v-else-if="!$v.year.minLength">Năm chưa đúng định dạng</span>
                        <span v-else-if="!$v.year.maxlength">Năm chưa đúng định dạng</span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <gb-input class="input" type="number" v-model.trim="$v.duration.$model" label="Thời lượng"></gb-input>
                    <div class="show-error"><!--show error-->
                      <div v-if="$v.duration.$error">
                        <span v-if="!$v.duration.required">Thời lượng không được để trống</span>
                        <span v-else-if="!$v.duration.numeric">Thời lượng phải là số</span>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="2"><gb-textarea v-model="description" label="Mô Tả"></gb-textarea></td>
                </tr>
              </table>
              <p class="title-image poster-title font-color-2">POSTER PHIM</p>
              <div>
                <b-img :src="posterUrl" class="poster-image" rounded fluid alt="poster"></b-img>
              </div>
              <b-form-file 
                class="image poster"
                v-model="poster"
                @change="handleChangePoster"
                browse-text="Chọn ảnh"
                placeholder="Thay đổi Poster phim..."
                drop-placeholder="Drop file here..."
                accept=".jpg, .png, .gif, .jpeg"
                >
              </b-form-file>
          </div>
        </b-col>

        <b-col class="right" cols="3">
          <div class="box-btn-add-new">
               <gb-button type="submit" color="green" class="btn-add-new" left-icon="done">Cập nhât</gb-button>
          </div>
          <p class="title-image">HÌNH ẢNH</p>
          <b-img thumbnail fluid :src="urlImage" alt="" class="title-image"></b-img>
          <b-form-file 
            class="image"
            @change="handleChangeImage"
            v-model="image"
            browse-text="Chọn ảnh"
            placeholder="Thay đổi ảnh..."
            drop-placeholder="Drop file here..."
            accept=".jpg, .png, .gif, .jpeg"
            >
          </b-form-file>
       
          <h1 class="title-widget">Thể Loại</h1>
          <div class="content-category">
                <b-form-group v-slot="{ ariaDescribedby }">
                    <b-form-checkbox-group
                        id="checkbox-group-1"
                        v-model.trim="$v.categorySelected.$model"
                        :options="CategoryOptions"
                        :aria-describedby="ariaDescribedby"
                        name="flavour-1"
                    ></b-form-checkbox-group>
                </b-form-group>
          </div> 
          <div class="show-error"><!--show error-->
            <div v-if="$v.categorySelected.$error">
              <span v-if="!$v.categorySelected.required">Category không được để trống</span>
            </div>
          </div>
          <p class="title_actor">DIỄN VIÊN</p>
          <Multiselect class="multi-select" v-model.trim="$v.actorSelected.$model" :options="actor" :multiple="true" :close-on-select="false" :clear-on-select="false" :preserve-search="true" placeholder="Chọn Diễn Viên" label="name" track-by="name" :options-limit="5">
          </Multiselect>
          <div class="show-error"><!--show error-->
            <div v-if="$v.actorSelected.$error">
              <span v-if="!$v.actorSelected.required">Diễn viên không được để trống</span>
            </div>
          </div>
        </b-col>
      </form>
    </b-container>
  </div>
</template>
<script>
import { validationMixin } from "vuelidate";
import {
  helpers,
  required,
  minLength,
  between,
  numeric,
  maxLength,
  sameAs,
} from "vuelidate/lib/validators";
import { mapActions, mapGetters, mapMutations } from 'vuex';
import Multiselect from 'vue-multiselect'
export default {
  name: "AddNewFilm",
  mixins: [validationMixin],
  data() {
    return {
        name:"",
        name2:"",
        slug:"",
        status:"",
        type_movie_id:1,
        nation_id:1,
        year:"",
        image:null,
        description:"",
        duration:"",
        num_view:"",
        categorySelected:[],
        actorSelected:[],
        showMessage:false,
        urlImage:"",
        poster:null,
        posterUrlDefault:"https://picsum.photos/1024/400/?image=41",
        posterUrl:""
    };
  },
  validations() {
    return {
      name: {
        required,
      },
      slug:{
        required,
      },
      status: {
        required,
      },
      year: {
        required,
        numeric,
        minLength: minLength(4),
        maxLength: maxLength(4),
      },
      duration: {
        required,
        numeric
      },
      categorySelected:{
        required
      },
      actorSelected:{
        required
      },
      // image:{
      //   required
      // }

    };
  },
  components:{
    Multiselect
  },
   watch:{
     name(newVal,oldVal){
       if(!this.slug)
        this.slug=this.formatFilmName(newVal)
     }
  },
  async created(){
    this.RESET_FILM_MSG()
    await this.getNation()
    await this.getTypeMovie()
    await this.getCategory();
    await this.getActor()
    
    await this.getFilmById(this.getQuery)// lấy thông tin phim
    await this.getFilmCategoryByFilmId(this.getQuery)// lấy thông tin Film_category by film id
    await this.getFilmActorByFilmId(this.getQuery)// lấy thông tin Film_Actor by film id

    this.setValueCurrentFilm()// set value to form
    this.actorSelected=this.coverToActorSelected()//..
    this.categorySelected=this.coverToCategorySelected(this.filmCategory)//..
    this.urlImage=process.env.SERVER_HOST+this.filmDetail.image
    this.generatePosterUrl()
  },
  computed:{
    
    getQuery(){// chưa xử lý lỗi nhập sai ?id
      let film_id=this.$route.query.id
      if(film_id)
        return film_id
      this.$router.push("/admin")// sau này chuyển sang trang 404
    },
    NationOptions(){// chuyen Nation object sang Options object
      let count=0
      let options=[]
      for (let item of this.nation) {
        options[count]={
              value:item.id,
              label:item.name
          }
          count++
      }
      return options
    },
    TypeMovieOptions(){
      let count=0
      let options=[]
      for (let item of this.type_movie) {
        options[count]={
              value:item.id,
              label:item.name
          }
          count++
      }
      return options
    },
    CategoryOptions(){
      let count=0
      let options=[]
      for (const item of this.category) {
        options[count]={
              value:item.id,
              text:item.name
          }
          count++
      }
      return options;
    },
    formatCategories(){// category [{category_id:"10"}]
      let count=0
      let options=[]
      for (const item of this.categorySelected) {
        options[count]={
              category_id:item,
          }
          count++
      }
      return options;
    },
    formatActor(){// actor [{actor_id:"10"}]
      let count=0
      let options=[]
      for (const item of this.actorSelected) {
        options[count]={
              actor_id:item.id,
          }
          count++
      }
      return options;
    },
      ...mapGetters(["nation","type_movie","category","actor","resFilmErrors","resFilmMessages","filmDetail","filmCategory","filmActor"])
  },
  methods: {
    generatePosterUrl(){
      if(this.filmDetail.poster===null)
        this.posterUrl=this.posterUrlDefault
      else{
        this.posterUrl=process.env.SERVER_HOST+this.filmDetail.poster
      }
    },
    handleChangeImage(event){
      // thay doi url image
      let file= event.target.files[0]
      let reader = new FileReader
      reader.onload = e => {
        this.urlImage = e.target.result
      }
      reader.readAsDataURL(file)
    },
    coverToCategorySelected(array){
      let count=0
      let options=[]
      for (const item of array) {
        options[count]=item.category_id,
          count++
      }
      return options
    },
    coverToActorSelected(){
      let count=0
      let options=[]
      for (const i of this.filmActor) {
        for(const j of this.actor)
        {
          if(i.actor_id===j.id){
          options[count]=j
          }
        }
        count++
      }
      return options
    },
    setValueCurrentFilm(){
        this.name=this.filmDetail.name
        this.name2=this.filmDetail.name2
        this.slug=this.filmDetail.slug
        this.status=this.filmDetail.status
        this.type_movie_id=this.filmDetail.type_movie_id
        this.nation_id=this.filmDetail.nation_id
        this.year=this.filmDetail.year
        // this.image=this.filmDetail.image,
        this.description=this.filmDetail.description
        this.duration=this.filmDetail.duration
        // categorySelected:[],
        // actorSelected:[],
    },
    messClose(){
      this.showMessage=false;
    },
    handleClearData(){
        this.name=""
        this.name2=""
        this.status=""
        this.type_movie_id=1
        this.nation_id=1
        this.year=""
        this.image=null
        this.description=""
        this.duration=""
        this.categorySelected=[]
        this.actorSelected=[]
        // console.log(this.description)
    },
    handleUpdate(e){
      e.preventDefault()
      //show all error
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.submitStatus = "ERROR";
      } else {
        // submit
        let formdata=new FormData()
        formdata.append("name",this.name)
        formdata.append("name2",this.name2)
        formdata.append("slug",this.slug)
        formdata.append("status",this.status)
        formdata.append("type_movie_id",this.type_movie_id)
        formdata.append("nation_id",this.nation_id)
        formdata.append("year",this.year)
        formdata.append("image",this.image)
        formdata.append("description",this.description)
        formdata.append("duration",this.duration)
        // formdata.append("num_view",0)
        formdata.append("poster",this.poster)
        formdata.append("categories",JSON.stringify(this.formatCategories))
        formdata.append("actors",JSON.stringify(this.formatActor))
        this.updateFilm({"formData":formdata,"filmId":this.getQuery})
        this.showMessage=true
        // end submit
        this.submitStatus = "PENDING";
        setTimeout(() => {
          this.submitStatus = "OK";
        }, 500);
      }
      //end show all error
      
      
    },
    handleAllFilm() {
      this.$router.push("/admin/film");
    },
    handleChangePoster(event){
      let file= event.target.files[0]
      let reader = new FileReader
      reader.onload = e => {
        this.posterUrl = e.target.result
      }
      reader.readAsDataURL(file)
    },
    formatFilmName(str){
            str=str.toString()
            if (str === null || str === undefined) return str;
            str = str.toString().toLowerCase();
            str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a");
            str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, "e");
            str = str.replace(/ì|í|ị|ỉ|ĩ/g, "i");
            str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g, "o");
            str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u");
            str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y");
            str = str.replace(/đ/g, "d");
            str = str.replaceAll(" ","-")
            return str;
      },
   ...mapMutations(["RESET_FILM_MSG"]),
    ...mapActions(["getNation","getTypeMovie","getCategory","getActor","addNewFilm",
    "getFilmById","getFilmCategoryByFilmId","getFilmActorByFilmId","getActorById","updateFilm"])
  },

};
</script>

<style scoped>
  .poster-title{
    margin-top:1rem;
    margin-bottom:0.5rem;
  }
  .poster{
    margin-top:1rem;
  }
  .poster-image{
    width: 100%;
  }
</style>