<template>
  <div class="Home bg-color-1">
    <div class=""> 
      <Slide1 :listNewFilm="listNewFilmPoster"/>
      <b-container fluid class="home-content">
        <div class="box-content">
          <SlideLoop :listFilm="listTopView" :title="'Xem nhiều'"/>
          <SlideLoop :listFilm="listNewFilm" :title="'Mới cập nhật'"/>
          <ListFilm :listFilm="listFilmRanDom" :title="'Phim ngẫu nhiên'"/>
        </div>
      </b-container>
    </div>
  </div>
</template>

<script>
import GlobalFunc from "@/mixin/globalFunc.js"
import Slide1 from "@/components/Home/Slide1.vue"
import SlideLoop from "@/components/Loop/SlideLoop.vue"
import ListFilm from "@/components/Loop/ListFilm.vue"
import { mapActions, mapGetters } from 'vuex'
export default {
  name: "Home",
  data() {
    return {
      a: "",
      model:"",
      isCreate:false,
      filmGet:[],
      active: 'home',
      activeSidebar: false,
      listFilmRanDom:[]
    }
  },
  mixins:[GlobalFunc],
  async created(){
    await this.getFilm()
    this.listFilmRanDom=this.generateRandomFilm(this.film,18)
    this.isCreate=true
  },
  components: {
    Slide1,
    SlideLoop,
    ListFilm
  },
  computed:{
    listTopView(){
      let list=[]
      list= this.film
      list=list.slice().sort(function(a, b) {
        return b.num_view - a.num_view
      });
      list=list.slice(0,12)
      return list
    },
    listNewFilmPoster(){// co poster
      if(this.isCreate){
        let count=0
        let list=[]
        for(let i=0;i<this.film.length;i++){
          if(count<5 && this.film[i].poster!==null){
            list.push(this.film[i])
            count++
          }
        }
        return list
      }
    },
    listNewFilm(){
      if(this.film){
        let count=0
        let list=[]
        for (let item of this.film) {
            if(count<12){
              list.push(item)
            }
            else{
              return list
            }
            count++
        }
      }
    },
    ...mapGetters(["film"])
  },
  methods:{
    ...mapActions(["getFilm"])
  },
  
}
</script>

<style scoped>
.Home{
  min-height:100vh;
}
.Home h1{
  margin:0px;
}
.thongbao {
  width: 200px;
  margin: auto;
  height: 15px;
}
.search {
  width: 200px;
  margin: auto;
  height: 45px;
  margin-top: 10px;
}
</style>

<style scoped>
   @media only screen and (max-width: 1200px) {
      
    }
    @media only screen and (max-width: 992px) {
      
    }
    @media only screen and (max-width: 768px) {
     
    }
    @media only screen and (max-width: 576px) {
       
    }
</style>

