<template>
    <div class='Slide1'>
        <div class="full-width">
            <div class="sl1-box-loading" v-if="!loading">
                <b-skeleton-wrapper :loading="loading">
                    <b-skeleton-img animation="fade" ></b-skeleton-img>
                </b-skeleton-wrapper>
            </div>
            <Flicking :options="{ panelsPerView: -1,bound: true,align:'prev'}">
                <div class="f-slide-big" v-for="(item,index) in listNewFilm" :key="index" > 
                    <div class="f-box-big" :style="'background-image:url('+urlPoster(item)+')'">
                        <div class="f-content-big">
                            <div class="f-box-content">
                                <h1 class="f-name-big font-large color-yellow bold">{{item.name}}</h1>
                                <h1 class="font-small color-white">{{item.name2}}</h1>
                                <h1 class="f-description font-small color-white">{{item.description}}</h1>
                                <gb-button color="red" left-icon="play_arrow" @click="handleWatchNow(item.slug)">Xem ngay</gb-button>
                            </div>
                        </div>
                    </div>
                </div>
            </Flicking>
        </div>
    </div>
</template>

<script>
import { Flicking } from "@egjs/vue-flicking";
import { VueperSlides, VueperSlide } from 'vueperslides'
import 'vueperslides/dist/vueperslides.css'
export default {
    name: 'Slide1',
    data(){
        return{
            loading:false
        }
    },
    watch:{
        listNewFilm(newVal){
            if(newVal.length>0){
                this.loading=true
            }
        }
    },
    components: { 
        VueperSlides, VueperSlide,Flicking
    },
    props:{
        listNewFilm: {
            type: Array,
            default: () => []
        },
    },
    methods:{
        urlPoster(item){
            return process.env.SERVER_HOST+item.poster
        },
        handleWatchNow(slug){
            this.$router.push("/watch/"+slug)
        }
    }
}
</script>

<style scoped>
.f-slide-big{
    width: 100%;
    height: 630px;
}

.f-box-big{
    height: 100%;
    width: 100%;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.f-content-big{
    height: 100%;
    width: 100%;
    background-image:linear-gradient(180deg,transparent,#171e29 97%);
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.f-description{
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    position: relative;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    overflow: hidden;
    text-overflow: ellipsis;
}
.f-box-content{
    max-width: 700px;
}
.f-name-big{
    text-transform: uppercase;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    position: relative;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sl1-box-loading{
    width: 100%;
    padding: 1rem;
}
.Slide1 .b-skeleton{
  border-radius:10px;
  background: #273142;
  overflow: hidden;
}

</style>
<style scoped>
    @media only screen and (max-width: 1200px) {
      
    }
    @media only screen and (max-width: 992px) {
      .content-film{
            width: 100% !important;
            /* text-align: center; */
        }
        .f-slide-big{
            height: 500px !important;
        }
    }
    @media only screen and (max-width: 768px) {
        .next-pre{
            display: none !important;
        }
        .content-film{
            width: 100% !important;
            text-align: center;
        }
        .box-info{
           background: rgb(0 0 0/ 60%) !important;
        }
        .f-slide-big{
            height: 300px !important;
        }
        .f-description{
            display: none !important;
        }
        .f-name-big{
            margin-bottom: -2px;
            line-height: 40px;
            padding:0px 5px;
        }
    }
    @media only screen and (max-width: 576px) {
        .film-content{
            -webkit-line-clamp:2 !important;
        }
        .f-slide-big{
            height: 230px !important;
        }
        
     
    }
</style>