<template>
  <div class="Header">
    <b-container fluid class="top" >
      <div class="h-left">
        <div class="logo">
          <router-link to="/"><img src="../../assets/logo.png" width="150" /></router-link>
        </div>
        <Nav :user="this.user" class="h-nav" :category="category" :nation="nation" :type_movie="type_movie"/>
      </div>
      <div class="log">
        <gb-button
          v-if="!isLoginGlobal"
          color="red"
          left-icon="person_add"
          @click="handleRegister()"
        >
          Đăng ký
        </gb-button>
        <gb-button
          class="btn-login"
          v-if="!isLoginGlobal"
          color="red"
          left-icon="person"
          @click="handleLogin()"
        >
          Đăng nhập
        </gb-button>
        <div v-if="this.user.display_name" class="user-info">
          <img
            v-if="getUrlAvatar"
            :src="getUrlAvatar"
            :alt="this.user.display_name"
            :title="this.user.display_name"
            width="40px"
            height="40px"
            class="img-avatar"
          />
        </div>
        <gb-button
          v-if="this.user.display_name"
          class="btn-log"
          @click="handleLogOut()"
          color="red"
          left-icon="logout"
        >
          Đăng xuất
        </gb-button>
      </div>
      <div class="menu-toggle">
          <gb-icon @click="handleShowSideBar()" :name="statusIcon()"></gb-icon>
      </div>
    </b-container>
    <div class="sidebar">
      <SideBar 
      @setShowSideBar="setShowSidebar"
      :showSideBar="showSideBar" :category="category" 
      :nation="nation" :type_movie="type_movie"
      :user="this.user" 
      />
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import SideBar from '@/components/Header/SideBar.vue'
import Nav from "./Nav.vue";
export default {
  name: "Header",
  data() {
    return {
      message: "Search",
      showSideBar:false
    };
  },
  async created(){
    await this.getCategory()
    await this.getNation()
    await this.getTypeMovie()
  },
  props: {
    user: Object,
  },
  components: {
    Nav,SideBar
  },
  computed: {
    getUrlAvatar() {
      if (this.user.url_avatar !== null) {
        return process.env.SERVER_HOST +"/"+ this.user.url_avatar;
      } else {
        return "";
      }
    },
    ...mapGetters(["isLoginGlobal","category","nation","type_movie"]),
  },
  methods: {
    statusIcon(){
      let name=""
      if(this.showSideBar){
        name="close"
      }else{name="menu"}
      return name
    },
    setShowSidebar(val){
      this.showSideBar= val
    },
    handleShowSideBar(){
      this.showSideBar= !this.showSideBar
    },
    handleLogin(){
      if (this.$route.path != '/login') {
          this.$router.push("/login");
      }
    },
     handleRegister(){
      if (this.$route.path != '/register') {
          this.$router.push("/register");
      }
    },
    async handleLogOut() {
      await this.logout();
      this.$router.push("/login");
    },
    ...mapActions(["logout","getCategory","getNation","getTypeMovie"]),
  },
};
</script>

<style scoped>
.Header {
  background: #171e29;
  /* box-shadow: -1px 0px 14px 0px rgb(0 0 0 / 50%); */
  width: 100%;
  padding-bottom:70px;
}
.h-left{
  display: flex;

}
.top {
  background: #171e29;
  height: 70px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  box-shadow: -1px 0px 14px 0px rgb(0 0 0 / 50%);
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0px;
  left: 0px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.log {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-log {
  margin-right: 5px;
}
.btn-log a {
  text-decoration: none;
}
.btn-log a {
  font-size: 13px;
}
.img-avatar {
  border-radius: 50%;
  object-fit: cover;
}
.user-info {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.btn-login {
  margin-left: 10px;
}
.btn-search {
  margin-left: 7px;
}
.input-search {
  width: 200px;
  margin: auto;
}
 .btn-search span i{
  margin-right:0px !important;
}
.menu-toggle{
  align-items: center;
  display: none;
}
#sidebar-left{
  background: red;
}
</style>
<style scoped>
  @media only screen and (max-width: 1200px) {
    
  }
  @media only screen and (max-width: 1100px) {
    .h-nav{
      display: none !important;
    }
    .menu-toggle{
      display: flex !important;;
    }
    .log{
      display: none !important;;
    }
  }
  @media only screen and (max-width: 768px) {
    .top{
      background: #171E29;
      box-shadow: -1px 0px 14px 0px rgb(0 0 0 / 50%);
    }
  }
  @media only screen and (max-width: 576px) {
  }
</style>
