<template>
  <div class="Nav">
    <div class="n-box">
      <ul class="box-nav">
        <li class="box-menu list" >
          <h1 class="menu font-small link2" >Thể loại</h1>
          <ul class="box-item">
            <li class="menu-item list" v-for="(item,index) in category" :key="index">
              <router-link :to="'/archive?category='+item.id" class="link2 link font-small color-white">{{item.name}}</router-link>
            </li>
          </ul>
         </li>
      </ul>
      <ul class="box-nav">
        <li class="box-menu list" >
          <h1 class="menu font-small link2" >Quốc gia</h1>
          <ul class="box-item">
            <li class="menu-item list" v-for="(item,index) in nation" :key="index">
              <router-link :to="'/archive?nation='+item.id" class="link2 link font-small color-white">{{item.name}}</router-link>
            </li>
          </ul>
         </li>
      </ul>
      <ul class="box-nav" v-for="(item,index) in type_movie" :key="index">
        <li class="box-menu list" >
          <router-link class="menu font-small link2" :to="'/archive?type_movie='+item.id">{{item.name}}</router-link>
         </li>
      </ul>
      <ul class="box-nav">
        <li class="box-menu list" >
          <router-link to="/search" class="link2 link font-small color-white">
            Tìm phim
          </router-link>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "Nav",
  data() {
    return {
      styleMenu:{
        display:"none",
      }
    };
  },
  props: {
    user: Object,
    category:Array,
    nation:Array,
    type_movie:Array
  },
  computed: {
    ...mapGetters(["isLoginGlobal"]),
  },
  methods: {
    // hoverMenu(index){
    //   if()
    // },
  },
};
</script>

<style scoped>
.Nav {
  background:#171e29;
  /* height: 40px; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.Nav .router-link-active {
  color: white;
}
.n-box{
  margin: auto;
  display: flex;
  height: 100%;
  align-items: center;
}
.box-nav {
  /* background: red;
  border-right: 1px solid white; */
  position: relative;
  padding: 0px 1rem;
  height: 100%;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-nav:hover .box-item{
  display: block !important;
}
.menu {
  color: white;
  /* margin-right: 15px; */
  text-decoration: none;
  margin: 0px;
  cursor: pointer;
}
.link2:hover{
  color:#FFC02A;
}
.box-item{
  display:none;
  position: absolute;
  top: 70px;
  left: 0px;
  background: #171e29;
  z-index: 9999;
  padding: 0px;
  text-align: left;
  min-width: 250px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: -1px 0px 14px 0px rgb(0 0 0 / 50%);

  height: 280px;
  overflow-y: scroll;
}
.menu-item{
  padding: 0.5rem 1rem;
}
.menu-item:last-child{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.menu-item:hover{
  background:#273142;
}
/* width scroll*/
::-webkit-scrollbar {
  width: 6px;
}
/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #273142; 
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #222C3C; 
}
</style>
<style>
.router-link-exact-active{
  color: #FFC02A !important;
}
</style>