<template>
    <div class='SideBar'>
      <vs-sidebar pixed v-model="active" square class="sidebar-left" background="#1B2431" textWhite :open.sync="getShowSizeBar">
        <template #logo>
          <!-- ...img logo -->
        </template>
        <vs-sidebar-item id="home" to="/">
          Home
        </vs-sidebar-item>
        
        <vs-sidebar-item v-for="(item,index) in type_movie" :key="index" :id="item.handle" :to="'/archive?type_movie='+item.id">
          {{item.name}}
        </vs-sidebar-item>

        <vs-sidebar-group>
          <template #header>
            <vs-sidebar-item arrow>
              Thể loại
            </vs-sidebar-item>
          </template>
         <vs-sidebar-item v-for="(item,index) in category" :key="index" :id="item.name" :to="'/archive?category='+item.id">
           {{item.name}}
          </vs-sidebar-item>
        </vs-sidebar-group>

        <vs-sidebar-group>
          <template #header>
            <vs-sidebar-item arrow>
              Quốc gia
            </vs-sidebar-item>
          </template>
          <vs-sidebar-item v-for="(item,index) in nation" :key="index" :id="item.name" :to="'/archive?nation='+item.id">
            {{item.name}}
          </vs-sidebar-item>
        </vs-sidebar-group>
        <vs-sidebar-item id="search" to="/search"> 
          Tìm phim
        </vs-sidebar-item>

        <vs-sidebar-item id="login" to="/login" v-if="!this.user.display_name"> 
          Đăng nhập
        </vs-sidebar-item>
        <vs-sidebar-item id="register" to="/register" v-if="!this.user.display_name">
          Đăng ký
        </vs-sidebar-item>

        <template #footer v-if="this.user.display_name">
          <vs-row justify="space-between">
            <b-avatar variant="info" :src="getUrlAvatar"></b-avatar>
            <vs-button
              gradient
              @click="handleLogOut()">
              Đăng xuất
            </vs-button>
          </vs-row>
        </template>

      </vs-sidebar>
    </div>
</template>

<script>
import GlobalFunc from '@/mixin/globalFunc.js'
import { mapActions, mapGetters } from 'vuex'
export default {
    name: 'SideBar',
    data(){
        return{
            active: 'home',
            isShowSideBar:false
        }
    },
    mixins:[GlobalFunc],
    created(){
      
    },
    watch:{
      getUrl(newVal){//change status sidebar 
        if(newVal){
          this.$emit('setShowSideBar',false)
        }
      }
    },
    props:{
      showSideBar:Boolean,
      category:Array,
      nation:Array,
      type_movie:Array,
      user:Object
    },
    computed:{
      getUrlAvatar() {
        if (this.user.url_avatar !== null) {
          return process.env.SERVER_HOST +"/"+ this.user.url_avatar;
        } else {
          return "";
        }
      },
      getUrl(){
        return this.$route.fullPath
      },
      getShowSizeBar:{// đối với v-model thì phải có get và set
        get(){
          return this.showSideBar
        },
        set(){
  
        }
      },
      
    },
    methods:{
      async handleLogOut() {
        await this.logout();
        this.$router.push("/login");
      },
      handleClickItem(val){
        this.$router.push(val)
      },
      ...mapActions(["logout"])
    },

}
</script>

<style scoped>
.sidebar-left{
    z-index: 99999;
}
@media only screen and(max-width:992px){
  
}
</style>
<style>
  .sidebar-left .vs-sidebar__item__text{
    font-weight: normal !important;
  }
  .sidebar-left .vs-sidebar__item:after{
    left: -5px !important;
  }
</style>