<template>
    <div class='Archive'>
        <b-container fluid>
             <div class="box-content">
                <ListFilm :listFilm="this.pageOfItems" :title="title" :titleSecondary="titleSecondary"/>
                <div class="box-pagination" v-if="this.currentListFilm.length>18">
                    <JwPagination v-if="this.currentListFilm.length>18" :pageSize=18 :items="this.currentListFilm" @changePage="onChangePage"></JwPagination>
                </div>
            </div>
        </b-container>
    </div>
</template>

<script>
import JwPagination from 'jw-vue-pagination';
import ListFilm from '@/components/Loop/ListFilm.vue'
import { mapActions, mapGetters } from 'vuex'
export default {
    name: 'Archive',
    data(){
        return{
            title:"",
            titleSecondary:"",
            currentListFilm:[],
            pageOfItems:[],
        }
    },
    components:{
        ListFilm,
        JwPagination
    },
    watch:{
        getQuery(newVal,oldVal){
            if(newVal!==oldVal){
                this.fetchData()
            }
        }
    },
    async created(){
        await this.fetchData()
    },
    computed:{
        getQuery(){
            return this.$route.query
        },
        ...mapGetters(["listFilmByActor","filmDetail","actorById","listFilmByCategory",
        "categoryById","film","nationById","typeMovieById"])
    },
    methods:{
        async fetchData(){
            this.title=""
            this.currentListFilm=[]
            this.pageOfItems=[]
            this.titleSecondary=""
            if(this.getQuery.actor){
                await this.getListFilmByActorID(this.getQuery.actor)
            }
            else if(this.getQuery.category){
                await this.getListFilmByCategoryID(this.getQuery.category)
            }
            else if(this.getQuery.nation){
                await this.getListFilmByNationID(this.getQuery.nation)
            }
            else if(this.getQuery.type_movie){
                await this.getListFilmByTypeMovieID(this.getQuery.type_movie)
            }
            if(this.currentListFilm.length<=18){
                this.pageOfItems=this.currentListFilm
            }
        },
        onChangePage(pageOfItems){
            this.pageOfItems = pageOfItems;
        },
        async getListFilmByActorID(actorId){
            await this.getFilmByActorId(actorId)
            this.listFilmByActor.map(async(item)=>{
                await this.getFilmById(item.film_id)
                if(this.filmDetail){
                    this.currentListFilm.push(this.filmDetail)
                }
            })
            await this.getActorById(actorId)
            this.title=this.actorById.name
            this.titleSecondary="Diễn viên"
        },
        async getListFilmByCategoryID(catId){
            await this.getFilmByCategoryId(catId)
            this.listFilmByCategory.map(async(item)=>{
                await this.getFilmById(item.film_id)
                if(this.filmDetail){
                    this.currentListFilm.push(this.filmDetail)
                }
            })
            await this.getCategoryById(catId)
            this.title=this.categoryById.name
            this.titleSecondary="Thể loại"
        },
        async getListFilmByNationID(nationId){
            await this.getFilm()
            this.currentListFilm=this.film.filter(item=>item.nation_id==nationId)
            await this.getNationById(nationId)
            this.title=this.nationById.name
            this.titleSecondary="Quốc gia"
        },
        async getListFilmByTypeMovieID(typeMovieId){
            await this.getFilm()
            this.currentListFilm=this.film.filter(item=>item.type_movie_id==typeMovieId)
            await this.getTypeMovieById(typeMovieId)
            this.title=this.typeMovieById.name
        },
        ...mapActions(["getFilmByActorId","getFilmById","getActorById","getFilmByCategoryId","getCategoryById",
        "getFilm","getNationById","getTypeMovieById"])
    }
}
</script>

<style scoped>
.title{
    padding-top:2rem;
}
.box-pagination{
    padding-bottom:2rem ;
}
</style>
