<template>
  <div class="Login">
    <b-container fluid class="lg-wraper">
      <div class="lg-box bg-color-2">
        <!-- <img src="../assets/logo.png" width="200" /><br /> -->
        <form id="form-login" @submit="onSubmit" method="POST">
          <h1 class="lg-title font-medium color-yellow">Đăng nhập</h1>
          <div v-if="resErrors" class="danger-alert alert-error">
            <span>{{resErrors}}</span>
          </div>
          
            <gb-input
              v-model.trim="$v.username.$model"
              type="text"
              name="user_login"
              placeholder="Tên người dùng"
              left-icon="person"
            >
            </gb-input>
        
          <div class="show-error">
            <!--show error-->
            <div v-if="$v.username.$error">
              <span v-if="!$v.username.required">Tên tài khoản là bắt buộc </span>
            </div>
          </div>
        
            
            <gb-input
              v-model.trim="$v.pass.$model"
              type="password"
              name="user_pass"
              placeholder="Mật khẩu"
              left-icon="lock"
            >
            </gb-input>
          
          <div class="show-error">
            <!--show error-->
            <div v-if="$v.pass.$error">
              <span v-if="!$v.pass.required">Mật khẩu là bắt buộc </span>
            </div>
          </div>
          <gb-button type="submit" color="red" class="btn-login">Đăng nhập</gb-button>
          <p class="other">
            <router-link to="/register">Tạo tài khoản</router-link>
            <router-link to="/login">Quên mật khẩu</router-link>
          </p>
        </form>
      </div>
    </b-container>
  </div>
</template>

<script>
import { required } from "vuelidate/lib/validators";
import { validationMixin } from "vuelidate";
import { mapActions, mapGetters, mapMutations } from "vuex"
export default {
  name: "Login",
  mixins: [validationMixin],
  data() {
    return {
      username: this.getQuery(),
      pass: "",
    };
  },
  watch:{
    getIsLoginGlobal(val){//Kiểm tra xem isLoginGlobal thay đổi không
      if(val===true){
        this.$router.push("/user")
      }
    }
  },
   created(){
    if(this.isLoginGlobal){//Nếu đã đăng nhập thì không cho phép đăng nhập nữa
      this.$router.push("/user")
    }
    this.RESET_MSG()//reset resErrors, resMessages
  },
  validations() {
    return {
      username: {
        required,
      },
      pass: {
        required,
      },
    };
  },
  computed:{
    getIsLoginGlobal(){
      return this.isLoginGlobal
    },
    ...mapGetters(["resErrors","resMessages","accessToken","isLoginGlobal"])
  },
  methods: {
    async onSubmit(event) {
      event.preventDefault();
      //show all error
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.submitStatus = "ERROR";
      } else {
        // do your submit logic here
        await this.login({
          user_login:this.username,
          user_pass:this.pass
        })
        // if(this.accessToken){
        //   this.$router.push("/user")
        // }
  
        this.submitStatus = "PENDING";
        setTimeout(() => {
          this.submitStatus = "OK";
        }, 500);
      }
    },
    getQuery(){
      let user_name=this.$route.query.username
      if(user_name)
        return user_name
      return ""
    },
  ...mapActions(["login"]),
  ...mapMutations(["RESET_MSG"])
  },
};
</script>

<style scoped>
.Login {
  display: flex;
  justify-content: center;
  margin: auto;
}
.lg-wraper{
  display: flex;
  justify-content: center;
}
.lg-box {
  text-align:center;
  width: fit-content;
  width: 500px;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom:2rem;
  border-radius: 10px;
}
.lg-title {
  font-weight: bold;
  margin: 1rem 0px;
  text-transform: uppercase;
}
.input {
  width: 100%;
  margin: auto;
  border-radius: 4px;
  border: 1px solid #966565;
  padding-left: 5px;
}
.input i {
  width: 16px;
  padding: 0px 4px;
}
.input input {
  width: 350px;
  height: 35px;
  border: unset;
  border-radius: 4px;
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
}
.input input:focus {
  outline-width: 0;
}
#form-login {
  width: 70%;
  margin: auto;
}
.btn-login {
  margin-top: 10px;
}
.other {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.other a {
  text-decoration: none;
  color: #d3d5d8 !important;
}
</style>
<style scoped>
  @media screen and (max-width:576px) {
    #form-login{
      width: 90% !important;
    }
  }
</style>
