<template>
    <div class='Page404'>
        Đây là trang 404
    </div>
</template>

<script>
export default {
    name: 'Page404',
    data(){
        return{

        }
    },

}
</script>

<style scoped>
</style>