<template>
  <div class="Register">
    <b-container fluid class="rg-wraper">
      <div class="rg-box bg-color-2">
        <h1 class="rg-title color-yellow font-medium">Đăng ký</h1>
        <div v-if="!isRegistered">
          <div v-if="resErrors" class="danger-alert">
            <span>{{ resErrors }}</span>
          </div>
          <form id="form-register" @submit="onSubmit" method="POST">
            <gb-input
              v-model.trim="$v.name.$model"
              type="text"
              placeholder="Tên của bạn"
              name="display_name"
              class="dispay-name"
            ></gb-input>
            <div class="show-error">
              <!--show error-->
              <div v-if="$v.name.$error">
                <span v-if="!$v.name.required">Tên là bắt buộc</span>
                <span v-if="!$v.name.minLength">Tên quá ngắn</span>
                <span v-if="!$v.name.maxLength">Tên quá dài</span>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <gb-input
                  v-model.trim="$v.username.$model"
                  type="text"
                  placeholder="Tên đăng nhâp"
                  name="user_login"
                  class="user-login"
                ></gb-input>
                <div class="show-error">
                  <!--show error-->
                  <div v-if="$v.username.$error">
                    <span v-if="!$v.username.required"
                      >Tên tài khoản là bắt buộc</span
                    >
                    <span v-else-if="!$v.username.minLength"
                      >Tên tài khoản quá ngắn</span
                    >
                    <span v-else-if="!$v.username.maxLength"
                      >Tên tài khoản quá dài</span
                    >
                    <span v-else-if="!$v.username.regexUserName"
                      >Định dạng không đúng</span
                    >
                  </div>
                </div>
              </div>
              <div class="row">
                <gb-input
                  v-model.trim="$v.email.$model"
                  type="text"
                  placeholder="Địa chỉ email"
                  name="user_email"
                  class=" user-email"
                ></gb-input>
                <div class="show-error">
                  <!--show error-->
                  <div v-if="$v.email.$error">
                    <span v-if="!$v.email.required">Email là bắt buộc </span>
                    <span v-if="!$v.email.email"
                      >Định dạng email không đúng
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <gb-input
              v-model.trim="$v.pass.$model"
              type="password"
              placeholder="Nhập mật khẩu"
              class="user-pass"
            ></gb-input>
            <div class="show-error">
              <!--show error-->
              <div v-if="$v.pass.$error">
                <span v-if="!$v.pass.required">Mật khẩu là bắt buộc </span>
                <span v-if="!$v.pass.minLength">Mật khẩu quá ngắn </span>
                <span v-if="!$v.pass.maxLength">Mật khẩu quá dài </span>
              </div>
            </div>
            <gb-input
              v-model.trim="$v.passconfi.$model"
              type="password"
              placeholder="Xát nhận lại mật khẩu"
              name="user_pass"
              class="user-pass"
            ></gb-input>
            <div class="show-error">
              <!--show error-->
              <div v-if="$v.passconfi.$error">
                <span v-if="!$v.passconfi.sameAsPass">Mật khẩu không khớp </span>
              </div>
            </div>
            <gb-button type="submit" class="btn-register" color="red">Đăng ký</gb-button>
            
          </form>
          <p class="other">
            <router-link to="/login">Bạn đã có tài khoản, đăng nhập ngay!</router-link>
          </p>
        </div>
        <div v-else class="rg-success">
          <span>
            Chào mừng <b class="color-green">{{name}}</b>, tài khoản của bạn đã được đăng ký thành công. Chúng
            tôi đã gửi cho bạn một email kích hoạt tại địa chỉ email
            <b class="color-green">{{email}}</b>. Vui lòng kiểm tra hộp thư đến của bạn để hoàn
            thành. <br/><br/>
            Nếu bạn không nhận được email kích hoạt từ chúng tôi, vui lòng
            ấn gửi lại <router-link to="/login" class="link color-yellow">gửi lại</router-link> email kích hoạt.
          </span><br/>
          <div class="box-link">
            <router-link :to="'/login?username='+username" class="link color-yellow">Đăng nhập ngay</router-link>
          </div>
        </div>
      </div>
    </b-container>
    <!--box-->
  </div>
</template>

<script>
import { mapActions, mapGetters,mapMutations } from "vuex";
import { validationMixin } from "vuelidate";
import {
  helpers,
  required,
  minLength,
  between,
  email,
  maxLength,
  sameAs,
} from "vuelidate/lib/validators";

export default {
  name: "Register",
  mixins: [validationMixin],
  data() {
    return {
      name: "",
      username: "",
      email: "",
      pass: "",
      passconfi: "",
    };
  },
  watch:{
    getIsLoginGlobal(val){//Kiểm tra xem isLoginGlobal thay đổi không
      if(val===true){
        this.$router.push("/user")
      }
    }
  },
  created(){
     if(this.isLoginGlobal){//Nếu đã đăng nhập thì không cho phép đăng nhập nữa
      this.$router.push("/user")
    }
    this.RESET_MSG()//reset resErrors, resMessages
  },
  
  validations() {
    return {
      name: {
        required,
        minLength: minLength(4),
        maxLength: maxLength(32),
      },
      username: {
        required,
        minLength: minLength(4),
        maxLength: maxLength(32),
        isVN: this.regexUserName(),
      },
      email: {
        required,
        email: email,
      },
      pass: {
        required,
        minLength: minLength(6),
        maxLength: maxLength(32),
      },
      passconfi: {
        required,
        minLength: minLength(6),
        maxLength: maxLength(32),
        sameAsPass: sameAs("pass"),
      },
    };
  },
  components: {},
  computed: {
    getIsLoginGlobal(){
      return this.isLoginGlobal
    },
    ...mapGetters(["resErrors", "resMessages", "isRegistered","isLoginGlobal"]),
  },
  methods: {
    regexUserName() {
      const usernameCheck = helpers.regex(this.username, /^[a-z0-9_\.]+$/);
      return usernameCheck;
    },
    onSubmit(event) {
      event.preventDefault();
      //show all error
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.submitStatus = "ERROR";
      } else {
        // do your submit logic here
        this.register({
          display_name: this.name,
          user_login: this.username,
          user_email: this.email,
          user_pass: this.pass,
        });
        this.submitStatus = "PENDING";
        setTimeout(() => {
          this.submitStatus = "OK";
        }, 500);
      }
    },
    ...mapActions(["register"]),
    ...mapMutations(["RESET_MSG"])
  },
};
</script>

<style scoped>
.Register {
  display: flex;
  justify-content: center;
  margin: auto;
}
.rg-wraper{
  display: flex;
  justify-content: center;
}
.rg-box {
  width: 600px;
  text-align:center;
  margin-top: 2rem;
  padding: 2rem;
  margin-bottom:2rem;
  border-radius: 10px;
}
.rg-title {
  font-weight: bold;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.dispay-name {
  width: 100%;
}
.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.user-login {
  width: 100%;
}
.user-email {
  width: 100%;
}
.user-pass {
  width: 100%;
}
.btn-register {
  margin-top: 10px;
}
.row {
  width: 50%;
}
.other {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.other a {
  text-decoration: none;
  color: #d3d5d8 !important;
}
.send{
  color: blue;
  text-decoration: unset;
}

.box-link{
  padding-top: 10px;
  display: flex;
  justify-content: center;
}
</style>
<style scoped>
    @media screen and (max-width:576px) {
      .rg-box{
        padding: 2rem 1rem !important;
      }
  }
</style>