<template>
    <div class='Search'>
        <b-container fluid>
            <div class="box-content">
                <div class="s-header">
                    <div class="s-header--box">
                        <b-row>
                            <b-col cols="12" sm="6" md="3" lg="2">
                                <gb-input class="s-input" size="small" v-model="name" type="search" 
                                label="Nhập tên phim" :clearable="true"></gb-input>
                            </b-col>
                            <b-col cols="12" sm="6" md="3" lg="2">
                                <gb-select class="s-input" size="small" v-model="categoryId" 
                                :options="CategoryOptions" label="Thể loại" :clearable="true"></gb-select>
                            </b-col>
                            <b-col cols="6" sm="6" md="3" lg="2">
                                <gb-select class="s-input" size="small" v-model="typeMovieId" 
                                :options="TypeMovieOptions" label="Loại phim" :clearable="true"></gb-select>
                            </b-col>
                            <b-col cols="6" sm="6" md="3" lg="2">
                                <gb-select size="small" class="s-input" v-model="nationId" 
                                :options="NationOptions" label="Quốc gia" :clearable="true"></gb-select>
                            </b-col>
                            <b-col cols="12" sm="12" md="12" lg="4" class="s-box--search">
                                <div class="s-box--btn">
                                    <gb-button color="blue" @click="handleSearch()">Search</gb-button>
                                </div>
                            </b-col>
                        </b-row>
                    </div>
                </div>
                <div class="s-result">
                    <ListFilm :listFilm="pageOfItems" :title="title" :titleSecondary="titleSecondary"/>
                </div>
                <div class="box-pagination">
                    <JwPagination v-if="listFilmCurrent.length>18" :pageSize=18 :items="listFilmCurrent" @changePage="onChangePage"></JwPagination>
                </div>
            </div>
        </b-container>
    </div>
</template>

<script>
import JwPagination from 'jw-vue-pagination';
import ListFilm from '@/components/Loop/ListFilm.vue'
import GlobalFunc from '@/mixin/globalFunc.js'
import { mapActions, mapGetters } from 'vuex'
export default {
    name: 'Search',
    data(){
        return{
            name:"",
            type_movie_id:"",
            listFilmCurrent:[],
            title:'Phim ngẫu nhiên',
            nationId:"",
            typeMovieId:"",
            categoryId:"",
            titleSecondary:"",
            pageOfItems:[],
        }
    },
    components:{
        ListFilm,
        JwPagination
    },
    mixins:[GlobalFunc],
    async created(){
        await this.getFilm()  
        await this.getNation()
        await this.getTypeMovie()
        await this.getCategory();
        this.listFilmCurrent=this.generateRandomFilm(this.film,18)
        
    },
    watch:{
        async categoryId(newVal){
            if(newVal){
                await this.getFilmByCategoryId(newVal)
            }
        },
        listFilmCurrent(newVal){
            if(this.listFilmCurrent.length<=18){
                this.pageOfItems=newVal
            }
        }
    },
    computed:{
        NationOptions(){// chuyen Nation object sang Options object
            let count=0
            let options=[]
            for (let item of this.nation) {
                options[count]={
                    value:item.id,
                    label:item.name
                }
                count++
            }
            return options
        },
        TypeMovieOptions(){
            let count=0
            let options=[]
            for (let item of this.type_movie) {
                options[count]={
                    value:item.id,
                    label:item.name
                }
                count++
            }
            return options
        },
        CategoryOptions(){
            let count=0
            let options=[]
            for (const item of this.category) {
                options[count]={
                    value:item.id,
                    label:item.name
                }
                count++
            }
            return options;
        },
        ...mapGetters(["film","nation","type_movie","category","listFilmByCategory"])
    },
    methods:{
        onChangePage(pageOfItems){
            this.pageOfItems = pageOfItems;
        },
        async handleSearch(){
            let list=[]
            if(this.name && this.name!==" "){
                let name=this.formatFilmName(this.name)
                list=this.film.filter((item)=>{
                    return this.formatFilmName(item.name).search(name)>=0
                })
            }
            else{
                list=this.film
            }
            if(this.categoryId){
                let listTemp=[]
                list.map(async(item)=>{
                    this.listFilmByCategory.map((item2)=>{
                        if(item2.film_id===item.id){
                            listTemp.push(item)
                        }
                    })
                })
                list=listTemp
            }
            if(this.typeMovieId){
                list=list.filter((item)=>{
                    return item.type_movie_id===this.typeMovieId
                })
            }
            if(this.nationId){
                list=list.filter((item)=>{
                    return item.nation_id===this.nationId
                })
            }
            if(list===this.film){
                list=[]
            }
            this.listFilmCurrent=list
            if(list.length>0){
                this.title="Kết quả"
                this.titleSecondary=""
            }
            else{
                this.title="Không tìm thấy"
                this.titleSecondary="kết quả"
            }
        },
        ...mapActions(["getFilm","getNation","getCategory","getTypeMovie","getFilmByCategoryId"])
    }
}
</script>

<style scoped>
.Search{
    padding-top:2rem ;
}
.s-header--box{
    width: 100%;
}
.s-header--box form{
    width: 100%;
    display: flex;
}
.s-box--search{
    display: flex;
    align-items: flex-end;
}
.s-box--btn{
    width: 100%;
    display: flex;
}
.pagination {
    padding-bottom: 2rem !important;
}

/* width scroll*/
.Search ::-webkit-scrollbar {
  width: 6px;
}
/* Track */
.Search ::-webkit-scrollbar-track {
  border-radius: 10px;
}
/* Handle */
.Search ::-webkit-scrollbar-thumb {
  background: #3d4a5e; 
  border-radius: 10px;
}
/* Handle on hover */
.Search ::-webkit-scrollbar-thumb:hover {
  background: #49576d; 
}
</style>
<style scoped>
@media only screen and (max-width: 992px) {
    .s-box--btn{
        justify-content: right;
        margin-top: 1rem;
    }
}
@media only screen and (max-width: 768px) {
    .s-box--btn{
        justify-content: center;
        margin-top: 1rem;
    }
    .s-input{
        margin-bottom:0.5rem;
    }
}

</style>