<template>
  <div class="UploadAvatar">
    <div v-if="!isLoginGlobal" class="danger-alert">
      <p>Bạn chưa đăng nhập</p>
    </div>
    <div v-else>
      <form enctype="multipart/form-data" method="POST">
        <input
          type="file"
          name="myFile"
          ref="refChooseFile"
          @change="fileChange"
        />
        <button @click="handleUploadFile">Thêm Avatar</button>
      </form>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { mapActions, mapGetters } from "vuex";
export default {
  name: "UploadAvatar",
  data() {
    return {
      files: [],
    };
  },
  created(){
    if(!this.isLoginGlobal){
      this.$router.push("/login")
    }
  },
  computed:{
     ...mapGetters(["isLoginGlobal"])
  },
  methods: {
    async handleUploadFile(event) {
      event.preventDefault();
      const userId = localStorage.getItem("userId");
      let file_userId = {
        file: this.files[0],
        userId: userId,
      };
      if (this.files.length > 0) {
        await this.UploadAvatar(file_userId);
      }
     
    },
    fileChange(event) {
      let files = event.target.files || event.dataTransfer.files;
      this.files = files;
    },

    ...mapActions(["UploadAvatar"]),
  },
};
</script>

<style scoped>
.UploadAvatar {
  margin-top: 15px;
  margin-left: 25%;
  margin-right: 25%;
}
.UploadAvatar form {
  margin-bottom: 10px;
}
</style>
