<template>
  <div class='User'>
      <div class="nav2">
      <router-link v-if="isLoginGlobal" class="menu2" to="/user/upload-avatar">Upload Avatar</router-link>
      </div>
      <router-view/>
  </div>
</template>

<script>
import {mapGetters} from "vuex"
export default {
  name: 'User',
  data(){
    return{}
  },
  computed:{
    ...mapGetters(["isLoginGlobal"])
  },
  methods:{
  }
};
</script>

<style>
.menu2{
  background: #3f51b5;
  color: white;
  padding:5px 15px 5px 15px;
  margin-right:10px ;
  text-decoration: none;
  border-radius: 2px;
}
.nav2{
  background:#939393;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-left: 10px; */
}
.nav2 .router-link-exact-active{
  color:blue;
}
</style>
