<template>
    <b-container class='Footer bg-color-2' fluid>
        <h1 class="title-footer font-small">Design by Dreams</h1>
    </b-container>
</template>

<script>
export default {
    name: 'Footer',
    data(){
        return{

        }
    },

}
</script>

<style scoped>
.Footer{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-footer{
   margin: 0px;
}
</style>