<template>
  <div id="app">
      <Header  v-if="getPathAdmin" :user="this.user"/>
      <HeaderAdmin v-else :user="this.user"/>
      <div class="box-view">
        <router-view />
      </div>
      
      <Footer v-if="getPathAdmin"/>
  </div>
</template>

<script>
import Header from "./components/Header/Header.vue"
import HeaderAdmin from "./components/Admin/HeaderAdmin.vue"
import Footer from "./components/Footer/Footer.vue"
import { mapActions, mapGetters, mapMutations } from "vuex";
export default {
  name: "App",
  data() {
    return {
      user: {},
    };
  },
  components:{
    Header,
    HeaderAdmin,
    Footer
  },
  watch: {
    async getIsLoginGlobal(newVal) {
      //Kiểm tra xem computed getIsLoginGlobal thay đổi hay không
      try {
        if (newVal === true)
          await this.getUser();
        else {
          this.user = {};
        }
      } catch (error) {
      }
    },
  },
  async created() {
    let userId = localStorage.getItem("userId");
    if (userId) {
      await this.checkExpiredToken(); //check xem token hết han chưa
    }
  },
  computed: {
    getIsLoginGlobal() {  //Trả về isLoginGlobal
      return this.isLoginGlobal;
    },
     ...mapGetters(["isLoginGlobal"]),
    getPathAdmin(){
      let path=this.$route.path
      let isAdminPage=path.indexOf("/admin")
      return isAdminPage
    }
  },
  methods: {
    async getUser() {
      try {
        let userId = localStorage.getItem("userId");
        if (userId) {
          let userMatch = await this.getUserById(userId);
          this.user = userMatch;
        }
      } catch (error) {
        console.log(error);
      }
    },
    ...mapActions(["getUserById", "checkExpiredToken"]),
  },
};
</script>
<style scoped>
.box-view{
  min-height:calc(100vh - 120px);
}
</style>
<style>
/* Default */
body{
  background: #222c3c !important;
}
#app {
  font-family: "Kodchasan",Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
  /* background: #222C3C; */
  background: #171E29;
  font-size: 1rem;
}
#app h1{
  /* margin-bottom:0px;
  line-height: unset; */
}
.danger-alert{
    color: #721c24;
    background-color: #f8d7da;
    padding: 10px 10px;
    border-radius: 5px;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.success-alert{
    color: #155724;
    background-color: #d4edda;
    padding: 10px 10px;
    border-radius: 5px;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.font-small{/*default*/
  font-size:1rem;
}
.font-medium{
  font-size:1.5rem;
}
.font-large{
  font-size:2rem;
}
.bg-color-1{
  background-color:#171E29;
}
.bg-color-2{
  background-color:#1B2431;
}
.bg-color-3{
  background-color:#222C3C;
}
.bg-color-4{
  background-color:#273142;
}
/* font color */
.font-color-1{
  color:#313D4F;
}
.font-color-2{
  color:#8EACC5;
}
.font-color-3{
  color:#A9C7DF;
}
/* color */
.color-white{
  color: white;
}
.color-black{
  color: #25374F;
}
.color-blue{
  color: #0093EE;
}
.color-green{
  color:#96BF47;
}
.color-gray{
  color: #A9C7DF;
}
.color-orange{
  color: #FFB610;
}
.color-purple{
  color: #AB7EF6;
}
.color-red{
  color: #E0102B;
}
.color-turquoise{
  color: #26C1C9;
}
.color-yellow{
  color: #FFC02A;
}
.bold{
  font-weight: 600;
}
.txt-left{
  text-align: left;
}
.txt-center{
  text-align: center;
}
.txt-right{
  text-align: right;
}
.link{
    text-decoration: none !important;
} 
.link:hover{
    text-decoration: none !important;
} 
.link-static{
  text-decoration: none !important;
  color: white !important;
}
.show-error{
    color: #FFB610;
    height: 20px;
    width: 100%;
    font-size: 12px;
    text-align: left;
}
.box-content{
    padding: 0px 3rem;
}
.full-width{
  width: 100%;
}
.list{
  list-style: none;
}
/* paganation */
.pagination {
  width: fit-content;
}
.pagination li a {
  border: 1px solid #313d4f !important;
  background: #1B2431;
  color: white;
}
.pagination .page-item.disabled .page-link {
  background: #1B2431;
  color: #8eacc5;
}
.pagination .page-item.active .page-link {
  background-color: white;
  color: #273142;
}
.pagination li a:hover {
  color: #1b2431 !important;
}
/* end Paganation */

</style>
<style>
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (max-width: 1200px) {
       .box-content{
        padding: 0px 2rem;
      }
    }
     /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (max-width: 992px) {
     
    }
     /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (max-width: 768px) {
      .box-content{
        padding: 0px 1rem;
      }
      .font-small{/*default*/
        font-size:1rem;
      }
      .font-medium{
        font-size:1.2rem;
      }
      .font-large{
        font-size:1.5rem;
      }
    }
     /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 576px) {
        .box-content{
        padding: 0px 0px;
      }
    }
</style>
