<template>
    <div class="ListFilm">
        <div class="lf-box-loading" v-if="!loading">
            <b-skeleton-wrapper :loading="loading">
                <b-skeleton animation="fade" width="200px"></b-skeleton>
                <b-skeleton-img animation="fade"></b-skeleton-img>
            </b-skeleton-wrapper>
        </div>
        <div v-else>
            <div class="box-title" v-if="titleSecondary">
            <h1 class="title-secondary font-medium color-yellow bold">{{titleSecondary+":"}}</h1>
            <h1 class="title-primary font-medium color-white">{{" "+title}}</h1>
            </div>
            <h1 v-else-if="title" class="title-list font-medium color-yellow">{{title}}</h1>
            <b-row class="l-row" v-if="this.listFilm.length>0">
                <div class="l-wraper">
                    <b-col class="l-item" v-for="(item,index) in listFilm" :key="index"  
                    cols="6" sm="4" md="4" lg="3" xl="2"> 
                        <router-link class="l-link link" :to="'/watch/'+item.slug" >
                            <b-aspect class="l-box" aspect="20/33">
                                <div class="l-box-img" :style="'background-image:url('+urlImage(item)+')'" @mouseover="handleHoverFilm(index)" @mouseleave="indexHoverFilm=-1">
                                    <div class="l-overlay">
                                        <div class="l-box-icon" v-if="indexHoverFilm===index">
                                            <gb-icon name="play_circle_outline" color="white" size="48px"></gb-icon>
                                        </div>
                                    </div>
                                </div>
                                <h1 class="l-name font-small color-white">{{item.name}}</h1>
                            </b-aspect>
                        </router-link>
                    </b-col>
                </div>
            </b-row>
        </div>
    </div>
</template>

<script>

import { Flicking } from "@egjs/vue-flicking";
import { VueperSlides, VueperSlide } from 'vueperslides'
import 'vueperslides/dist/vueperslides.css'
export default {
    name: 'ListFilm',
    data(){
        return{
            indexHoverFilm:-1,
            currentListFilm:[],
            loading:false
        }
    },
    created(){
    },
    watch:{
        listFilm(newVal){
            if(newVal.length>0){
                this.loading=true
            }
        },
        getUrl(newVal){
            if(newVal){
                this.loading=false
            }
        }
    },
    components:{
        VueperSlides,
        VueperSlide,
        Flicking,
    },
    props:{
        listFilm: {
            type: Array,
            default: () => []
        },
        title:String,
        titleSecondary:String
    },
    computed:{
        getUrl(){
            return this.$route.fullPath
        },
    },
    methods:{
        
        urlImage(item){
            return process.env.SERVER_HOST+item.image
        },
        handleHoverFilm(index){
            this.indexHoverFilm=index
        },
    }
   
}
</script>

<style scoped>
.box-title{
    display: flex;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}
.box-title h1{
    margin-bottom: 0px;
    line-height: unset;
}
.title-list{
    padding-top: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
    padding-bottom: 0.5rem;
    margin-bottom: 0px;
    line-height: unset;
}
.title-secondary{
    margin-right:0.5rem;
    text-transform: uppercase;

}
.l-row{
    margin-left:0px !important;
    margin-right: -15px !important;
}
/* b-col */
.l-item{
    padding-bottom: 2rem;
    padding-right: 15px !important;
    padding-left: 0px !important;

}
.l-box-img{
    width: 100%;
    height: calc(100% - 30px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    box-sizing: border-box;
    overflow: hidden;
    border-radius:10px;
}
.l-name{
    width: 100%;
    padding-top:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    position: relative;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.6;
}
.l-overlay{
    width: 100%;
    height: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    transition-duration: .3s;
}
.l-overlay:hover{
    background: rgb(0 0 0/ 60%);
}
.l-box-icon{
    margin: auto;
    transition-duration: 3s;
}
.l-wraper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.lf-box-loading{
    padding-top:2rem;
    padding-bottom:2rem;
}
.lf-box-loading .b-skeleton{
    background: #273142;
    margin-bottom:0.5rem;
    border-radius:10px;
}
.lf-box-loading .b-skeleton-text{
    height: 30px !important;
}
</style>

<style>
    @media only screen and (max-width: 768px) {
        .l-overlay{
            background: transparent !important;
        }
        .l-box-icon{
            display: none !important;
        }
    }
</style>