<template>
    <div class='SlideLoop'>
        <div class="sll-box-loading" v-if="!loading">
            <b-skeleton-wrapper :loading="loading">
                <b-skeleton animation="fade" width="200px" class="sll-loading-text"></b-skeleton>
                <b-skeleton-img animation="fade"></b-skeleton-img>
            </b-skeleton-wrapper>
        </div>
        <div v-else>
            <div class="sll-box-title">
                <h1 class="title-slide font-medium color-yellow">{{title}}</h1>
                <div>
                    <gb-button circular left-icon="arrow_back_ios" color="black" @click="handleSlidePrev()"></gb-button>
                    <gb-button circular left-icon="arrow_forward_ios" color="black" @click="handleSlideNext();"></gb-button>
                </div>
            </div>
            <b-row class="f-row">
                <Flicking :options="{ panelsPerView: -1,bound: true,align:'prev'}" class="flicking-slides" ref="flicking">
                    <b-col class="f-slide" v-for="(item,index) in listFilm" :key="index"  
                cols="6" sm="4" md="4" lg="3" xl="2"> 
                        <router-link class="f-link link" :to="'/watch/'+item.slug" >
                            <b-aspect class="f-box" aspect="20/33">
                                <div class="f-box-img" :style="'background-image:url('+urlImage(item)+')'" @mouseover="handleHoverFilm(index)" @mouseleave="indexHoverFilm=-1">
                                    <div class="overlay">
                                        <div class="f-box-icon" v-if="indexHoverFilm===index">
                                            <gb-icon name="play_circle_outline" color="white" size="48px"></gb-icon>
                                        </div>
                                    </div>
                                </div>
                                <h1 class="f-name font-small color-white">{{item.name}}</h1>
                            </b-aspect>
                        </router-link>
                    </b-col>
                </Flicking>
            </b-row>
        </div>
    </div>
</template>

<script>
import { Flicking } from "@egjs/vue-flicking";
import { VueperSlides, VueperSlide } from 'vueperslides'
import 'vueperslides/dist/vueperslides.css'
export default {
    name: 'SlideLoop',
    data(){
        return{
            indexHoverFilm:-1,
            loading:false
        }
    },
    components:{
        VueperSlides,
        VueperSlide,
        Flicking,
    },
    watch:{
        listFilm(newVal){
            if(newVal.length>0){
                this.loading=true
            }
        }
    },
    props:{
        listFilm: {
            type: Array,
            default: () => []
        },
        title:String
    },
    computed:{
     
    },
    methods:{
        urlImage(item){
            return process.env.SERVER_HOST+item.image
        },
        handleHoverFilm(index){
            this.indexHoverFilm=index
        },
        handleSlidePrev(){
            this.$refs.flicking.prev().catch(() => void 0);;
        },
        handleSlideNext(){
            this.$refs.flicking.next().catch(() => void 0);
        },
    }
   
}
</script>

<style scoped>
.sll-box-title{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    padding-bottom: 0.5rem;
}
.title-slide{
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
    margin-bottom:0px;
    line-height: unset;
    display: flex;
    align-items: flex-end;
}
.f-row{
    margin-right:-15px !important;
    margin-left:0px !important;
}
.f-slide{
    padding-left:0px !important;
    padding-right:15px !important ;
}

.f-box-img{
    width: 100%;
    height: calc(100% - 30px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    box-sizing: border-box;
    overflow: hidden;
    border-radius:10px;
}
.f-name{
    width: 100%;
    padding-top:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    position: relative;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.6;
}
.overlay{
    width: 100%;
    height: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    transition-duration: .3s;
}
.overlay:hover{
    background: rgb(0 0 0/ 60%);
}
.f-box-icon{
    margin: auto;
    transition-duration: 3s;
}
.f-wraper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.flicking-slides{
    width: 100%;
}
.sll-box-loading{
    padding-top:2rem;
    padding-bottom:2rem;
}
.sll-box-loading .b-skeleton{
    background: #273142;
    margin-bottom:0.5rem;
    border-radius:10px;
}
.sll-box-loading .b-skeleton-text{
    height: 30px;
}

</style>

<style scoped>
    @media only screen and (max-width: 1200px) {
      
    }
    @media only screen and (max-width: 992px) {
      
    }
    @media only screen and (max-width: 768px) {
        .overlay{
            background: transparent !important;
        }
        .f-box-icon{
            display: none !important;
        }
    }
    @media only screen and (max-width: 576px) {
        
    }
    @media only screen and (max-width: 400px) {
        
    }
</style>